In [26]:
# reading csv file
import pandas as pd
from pathlib import Path
import datetime
data_file = Path("Resources/afluenciastc_simple_08_2023.csv")
# Use Pandas to the read data.
afluencia_df = pd.read_csv(data_file)
afluencia_df.head()

        fecha  anio    mes    linea            estacion  afluencia
0  2010-01-01  2010  Enero  Línea 1            Zaragoza      20227
1  2010-01-01  2010  Enero  Línea 1  Isabel la Católica       6487
2  2010-01-01  2010  Enero  Línea 1           Moctezuma      10304
3  2010-01-01  2010  Enero  Línea 1         Pino Suárez       8679
4  2010-01-01  2010  Enero  Línea 1        Gómez Farías      19499

In [27]:
# transforming to datetime
afluencia_df['fecha'] = pd.to_datetime(afluencia_df['fecha'], format='%Y-%m-%d')

print(afluencia_df.dtypes)

fecha        datetime64[ns]
anio                  int64
mes                  object
linea                object
estacion             object
afluencia             int64
dtype: object

In [28]:
fechas = afluencia_df["fecha"]
fechas

0        2010-01-01
1        2010-01-01
2        2010-01-01
3        2010-01-01
4        2010-01-01
            ...
973240   2023-08-31
973241   2023-08-31
973242   2023-08-31
973243   2023-08-31
973244   2023-08-31
Name: fecha, Length: 973245, dtype: datetime64[ns]

In [29]:
afluencia_df["weekday"] = afluencia_df["fecha"].dt.day_of_week
afluencia_df.head(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4
5,2010-01-01,2010,Enero,Línea 6,Deportivo 18 de Marzo,621,4
6,2010-01-01,2010,Enero,Línea 6,La Villa/Basílica,24792,4
7,2010-01-01,2010,Enero,Línea 9,Pantitlán,27000,4
8,2010-01-01,2010,Enero,Línea 8,Aculco,3652,4
9,2010-01-01,2010,Enero,Línea 9,Velódromo,3239,4
10,2010-01-01,2010,Enero,Línea 5,Autobuses del Norte,16824,4
11,2010-01-01,2010,Enero,Línea 5,Misterios,3513,4
12,2010-01-01,2010,Enero,Línea 7,Constituyentes,1417,4
13,2010-01-01,2010,Enero,Línea 7,Refinería,2325,4
14,2010-01-01,2010,Enero,Línea 3,Etiopía/Plaza de la Transparencia,7078,4
15,2010-01-01,2010,Enero,Línea 7,Polanco,6173,4
16,2010-01-01,2010,Enero,Línea 4,Canal del Norte,2317,4
17,2010-01-01,2010,Enero,Línea 4,Bondojito,2474,4
18,2010-01-01,2010,Enero,Línea 4,Santa Anita,1042,4
19,2010-01-01,2010,Enero,Línea 2,Popotla,2419,4

In [30]:
no_habiles_df = Path("Resources/dias_no_habiles.csv")
# Use Pandas to the read data.
no_habiles_df = pd.read_csv(no_habiles_df)
no_habiles_df.head(15)

,enero 1,febreo 4,marzo 21,jueves santo,viernes sannto,mayo 1,septiembre 16,octubre 12,noviembre 2,20 de noviembre,diciembre 12,navidad
0,2009-01-01,2009-02-02,2009-03-16,2009-04-09,2009-04-10,2009-05-01,2009-09-16,2009-10-12,2009-11-02,2009-11-20,2009-12-12,2009-12-25
1,2010-01-01,2010-02-01,2010-03-15,2010-04-01,2010-04-02,2010-05-01,2010-09-16,2010-10-12,2010-11-02,2010-11-20,2010-12-12,2010-12-25
2,2011-01-01,2011-02-07,2011-03-21,2011-04-21,2011-04-22,2011-05-01,2011-09-16,2011-10-12,2011-11-02,2011-11-20,2011-12-12,2011-12-25
3,2012-01-01,2012-02-06,2012-03-19,2012-04-05,2012-04-06,2012-05-01,2012-09-16,2012-10-12,2012-11-02,2012-11-20,2012-12-12,2012-12-25
4,2013-01-01,2013-02-04,2013-03-18,2013-03-28,2013-03-29,2013-05-01,2013-09-16,2013-10-12,2013-11-02,2013-11-20,2013-12-12,2013-12-25
5,2014-01-01,2014-02-03,2014-03-17,2014-04-17,2014-04-18,2014-05-01,2014-09-16,2014-10-12,2014-11-02,2014-11-20,2014-12-12,2014-12-25
6,2015-01-01,2015-02-02,2015-03-16,2015-04-02,2015-04-03,2015-05-01,2015-09-16,2015-10-12,2015-11-02,2015-11-20,2015-12-12,2015-12-25
7,2016-01-01,2016-02-01,2016-03-21,2016-03-24,2016-03-25,2016-05-01,2016-09-16,2016-10-12,2016-11-02,2016-11-20,2016-12-12,2016-12-25
8,2017-01-01,2017-02-06,2017-03-20,2017-04-13,2017-04-14,2017-05-01,2017-09-16,2017-10-12,2017-11-02,2017-11-20,2017-12-12,2017-12-25
9,2018-01-01,2018-02-05,2018-03-19,2018-03-29,2018-03-30,2018-05-01,2018-09-16,2018-10-12,2018-11-02,2018-11-20,2018-12-12,2018-12-25
10,2019-01-01,2019-02-04,2019-03-18,2019-04-18,2019-04-19,2019-05-01,2019-09-16,2019-10-12,2019-11-02,2019-11-20,2019-12-12,2019-12-25
11,2020-01-01,2020-02-03,2020-03-16,2020-04-09,2020-04-10,2020-05-01,2020-09-16,2020-10-12,2020-11-02,2020-11-20,2020-12-12,2020-12-25
12,2021-01-01,2021-02-01,2021-03-15,2021-04-01,2021-04-02,2021-05-01,2021-09-16,2021-10-12,2021-11-02,2021-11-20,2021-12-12,2021-12-25
13,2022-01-01,2022-02-07,2022-03-21,2022-04-14,2022-04-15,2022-05-01,2022-09-16,2022-10-12,2022-11-02,2022-11-20,2022-12-12,2022-12-25
14,2023-01-01,2023-02-06,2023-03-20,2023-04-06,2023-04-07,2023-05-01,2023-09-16,2023-10-12,2023-11-02,2023-11-20,2023-12-12,2023-12-25

In [31]:
no_habiles_df = no_habiles_df.apply(pd.to_datetime)

In [32]:
no_habiles_df = no_habiles_df.stack().reset_index(drop=True)
no_habiles_df.head()

0   2009-01-01
1   2009-02-02
2   2009-03-16
3   2009-04-09
4   2009-04-10
dtype: datetime64[ns]

In [33]:
no_habiles_df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 180 entries, 0 to 179
Series name: None
Non-Null Count  Dtype
--------------  -----
180 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.5 KB

In [34]:
afluencia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973245 entries, 0 to 973244
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   fecha      973245 non-null  datetime64[ns]
 1   anio       973245 non-null  int64
 2   mes        973245 non-null  object
 3   linea      973245 non-null  object
 4   estacion   973245 non-null  object
 5   afluencia  973245 non-null  int64
 6   weekday    973245 non-null  int32
dtypes: datetime64[ns](1), int32(1), int64(2), object(3)
memory usage: 48.3+ MB

In [35]:
afluencia_df['no_habil'] = afluencia_df['fecha'].isin(no_habiles_df)

In [36]:
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil
136741,2011-12-03,2011,Diciembre,Línea 1,Cuauhtémoc,24171,5,False
510691,2017-03-03,2017,Marzo,Línea A,Pantitlán,134697,4,False
687300,2019-08-26,2019,Agosto,Línea B,Morelos,5478,0,False
86512,2011-03-20,2011,Marzo,Línea 2,Revolución,15268,6,False
702582,2019-11-12,2019,Noviembre,Línea 12,Zapata,17506,1,False
933570,2023-02-09,2023,Febrero,Línea 5,Politécnico,29817,3,False
152031,2012-02-19,2012,Febrero,Línea 1,Chapultepec,45902,6,False
102336,2011-06-09,2011,Junio,Línea 9,Velódromo,8162,3,False
577214,2018-02-08,2018,Febrero,Línea 7,Tacuba,9943,3,False
737030,2020-05-07,2020,Mayo,Línea B,Villa de Aragón,4402,3,False
46948,2010-08-29,2010,Agosto,Línea B,Ciudad Azteca,30220,6,False
435490,2016-02-12,2016,Febrero,Línea 9,Jamaica,14838,4,False
462960,2016-07-02,2016,Julio,Línea 7,San Pedro de los Pinos,9538,5,False
423532,2015-12-12,2015,Diciembre,Línea 9,Velódromo,12692,5,True
114151,2011-08-09,2011,Agosto,Línea 1,San Lázaro,33374,1,False
115958,2011-08-18,2011,Agosto,Línea 3,Guerrero,13727,3,False
847534,2021-11-25,2021,Noviembre,Línea 3,Balderas,7523,3,False
466283,2016-07-19,2016,Julio,Línea 2,General Anaya,30154,1,False
539476,2017-07-29,2017,Julio,Línea 3,La Raza,25076,5,False
857611,2022-01-16,2022,Enero,Línea 1,Balderas,5572,6,False

In [37]:
#Seasons Column
def obtener_estacion(fecha):
    if (fecha.month >= 3 and fecha.month <= 5):
        return 'Spring'
    elif (fecha.month >= 6 and fecha.month <= 8):
        return 'Summer'
    elif (fecha.month >= 9 and fecha.month <= 11):
        return 'Autumn'
    else:
        return 'Winter'

afluencia_df['estacion'] = afluencia_df['fecha'].apply(obtener_estacion)

afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil
239,2010-01-02,2010,Enero,Línea B,Winter,10598,5,False
725538,2020-03-09,2020,Marzo,Línea 2,Spring,20194,0,False
139177,2011-12-15,2011,Diciembre,Línea B,Winter,7708,3,False
69267,2010-12-22,2010,Diciembre,Línea B,Winter,15183,2,False
82656,2011-02-28,2011,Febrero,Línea B,Winter,22070,0,False
882767,2022-05-25,2022,Mayo,Línea 1,Spring,12463,2,False
633492,2018-11-23,2018,Noviembre,Línea 1,Autumn,74108,4,False
784184,2021-01-04,2021,Enero,Línea 4,Winter,3737,0,False
770448,2020-10-26,2020,Octubre,Línea 1,Autumn,15335,0,False
432537,2016-01-28,2016,Enero,Línea 3,Winter,40206,3,False
347249,2014-11-16,2014,Noviembre,Línea B,Autumn,15371,6,False
156612,2012-03-14,2012,Marzo,Línea 2,Spring,31615,2,False
418238,2015-11-15,2015,Noviembre,Línea 8,Autumn,5377,6,False
273603,2013-11-04,2013,Noviembre,Línea 7,Autumn,34388,0,False
889964,2022-06-30,2022,Junio,Línea B,Summer,6549,3,False
674622,2019-06-22,2019,Junio,Línea A,Summer,34258,5,False
384141,2015-05-24,2015,Mayo,Línea 8,Spring,10776,6,False
158144,2012-03-21,2012,Marzo,Línea 9,Spring,12235,2,False
192375,2012-09-13,2012,Septiembre,Línea 6,Autumn,8300,3,False
154899,2012-03-05,2012,Marzo,Línea 5,Spring,9158,0,False

In [38]:
# Summer vacations
def Summer_vacations(fecha):
    spring_2019 = (fecha >= pd.Timestamp('2019-06-24')) and (fecha <= pd.Timestamp('2019-08-26'))
    spring_2020 = (fecha >= pd.Timestamp('2020-07-06')) and (fecha <= pd.Timestamp('2020-08-24'))
    spring_2021 = (fecha >= pd.Timestamp('2021-07-09')) and (fecha <= pd.Timestamp('2021-08-30'))
    spring_2022 = (fecha >= pd.Timestamp('2022-07-28')) and (fecha <= pd.Timestamp('2022-08-29'))

    return spring_2019 or spring_2020 or spring_2021 or spring_2022

afluencia_df['Summer_vacations'] = afluencia_df['fecha'].apply(Summer_vacations)
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,Summer_vacations
867640,2022-03-08,2022,Marzo,Línea 4,Spring,5004,1,False,False
218847,2013-01-27,2013,Enero,Línea 12,Winter,6216,6,False,False
235929,2013-04-24,2013,Abril,Línea 12,Spring,8821,2,False,False
428816,2016-01-09,2016,Enero,Línea 7,Winter,4818,5,False,False
312879,2014-05-24,2014,Mayo,Línea 6,Spring,5775,5,False,False
793410,2021-02-20,2021,Febrero,Línea 8,Winter,2747,5,False,False
967450,2023-08-02,2023,Agosto,Línea 2,Summer,24354,2,False,False
73535,2011-01-13,2011,Enero,Línea 4,Winter,7254,3,False,False
862155,2022-02-08,2022,Febrero,Línea 2,Winter,12466,1,False,False
898242,2022-08-12,2022,Agosto,Línea 3,Summer,8781,4,False,True
308275,2014-04-30,2014,Abril,Línea 9,Spring,53764,2,False,False
480355,2016-09-29,2016,Septiembre,Línea 5,Autumn,6809,3,False,False
597614,2018-05-23,2018,Mayo,Línea 3,Spring,31757,2,False,False
30963,2010-06-08,2010,Junio,Línea 12,Summer,0,1,False,False
676044,2019-06-29,2019,Junio,Línea A,Summer,17059,5,False,True
270956,2013-10-21,2013,Octubre,Línea 6,Autumn,8094,0,False,False
551722,2017-09-30,2017,Septiembre,Línea 3,Autumn,4097,5,False,False
901956,2022-08-31,2022,Agosto,Línea 3,Summer,15781,2,False,False
836531,2021-09-29,2021,Septiembre,Línea B,Autumn,33991,2,False,False
372140,2015-03-24,2015,Marzo,Línea 2,Spring,20397,1,False,False