In [1]:
# reading csv file
import pandas as pd
from pathlib import Path
import datetime
data_file = Path("Resources/afluenciastc_simple_08_2023.csv")
# Use Pandas to the read data.
afluencia_df = pd.read_csv(data_file)
afluencia_df.head()

        fecha  anio    mes    linea            estacion  afluencia
0  2010-01-01  2010  Enero  Línea 1            Zaragoza      20227
1  2010-01-01  2010  Enero  Línea 1  Isabel la Católica       6487
2  2010-01-01  2010  Enero  Línea 1           Moctezuma      10304
3  2010-01-01  2010  Enero  Línea 1         Pino Suárez       8679
4  2010-01-01  2010  Enero  Línea 1        Gómez Farías      19499

In [2]:
# transforming to datetime
afluencia_df = afluencia_df.astype({"fecha": "datetime64"})
afluencia_df.dtypes

fecha        datetime64[ns]
anio                  int64
mes                  object
linea                object
estacion             object
afluencia             int64
dtype: object

In [3]:
fechas = afluencia_df["fecha"]
fechas

0        2010-01-01
1        2010-01-01
2        2010-01-01
3        2010-01-01
4        2010-01-01
            ...
973240   2023-08-31
973241   2023-08-31
973242   2023-08-31
973243   2023-08-31
973244   2023-08-31
Name: fecha, Length: 973245, dtype: datetime64[ns]

In [8]:
afluencia_df["weekday"] = afluencia_df["fecha"].dt.day_of_week
afluencia_df.head(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4
5,2010-01-01,2010,Enero,Línea 6,Deportivo 18 de Marzo,621,4
6,2010-01-01,2010,Enero,Línea 6,La Villa/Basílica,24792,4
7,2010-01-01,2010,Enero,Línea 9,Pantitlán,27000,4
8,2010-01-01,2010,Enero,Línea 8,Aculco,3652,4
9,2010-01-01,2010,Enero,Línea 9,Velódromo,3239,4
10,2010-01-01,2010,Enero,Línea 5,Autobuses del Norte,16824,4
11,2010-01-01,2010,Enero,Línea 5,Misterios,3513,4
12,2010-01-01,2010,Enero,Línea 7,Constituyentes,1417,4
13,2010-01-01,2010,Enero,Línea 7,Refinería,2325,4
14,2010-01-01,2010,Enero,Línea 3,Etiopía/Plaza de la Transparencia,7078,4
15,2010-01-01,2010,Enero,Línea 7,Polanco,6173,4
16,2010-01-01,2010,Enero,Línea 4,Canal del Norte,2317,4
17,2010-01-01,2010,Enero,Línea 4,Bondojito,2474,4
18,2010-01-01,2010,Enero,Línea 4,Santa Anita,1042,4
19,2010-01-01,2010,Enero,Línea 2,Popotla,2419,4

In [25]:
no_habiles_df = Path("Resources/dias_no_habiles.csv")
# Use Pandas to the read data.
no_habiles_df = pd.read_csv(no_habiles_df)
no_habiles_df.head(15)

,enero 1,febreo 4,marzo 21,jueves santo,viernes sannto,mayo 1,septiembre 16,octubre 12,noviembre 2,20 de noviembre,diciembre 12,navidad
0,2009-01-01,2009-02-02,2009-03-16,2009-04-09,2009-04-10,2009-05-01,2009-09-16,2009-10-12,2009-11-02,2009-11-20,2009-12-12,2009-12-25
1,2010-01-01,2010-02-01,2010-03-15,2010-04-01,2010-04-02,2010-05-01,2010-09-16,2010-10-12,2010-11-02,2010-11-20,2010-12-12,2010-12-25
2,2011-01-01,2011-02-07,2011-03-21,2011-04-21,2011-04-22,2011-05-01,2011-09-16,2011-10-12,2011-11-02,2011-11-20,2011-12-12,2011-12-25
3,2012-01-01,2012-02-06,2012-03-19,2012-04-05,2012-04-06,2012-05-01,2012-09-16,2012-10-12,2012-11-02,2012-11-20,2012-12-12,2012-12-25
4,2013-01-01,2013-02-04,2013-03-18,2013-03-28,2013-03-29,2013-05-01,2013-09-16,2013-10-12,2013-11-02,2013-11-20,2013-12-12,2013-12-25
5,2014-01-01,2014-02-03,2014-03-17,2014-04-17,2014-04-18,2014-05-01,2014-09-16,2014-10-12,2014-11-02,2014-11-20,2014-12-12,2014-12-25
6,2015-01-01,2015-02-02,2015-03-16,2015-04-02,2015-04-03,2015-05-01,2015-09-16,2015-10-12,2015-11-02,2015-11-20,2015-12-12,2015-12-25
7,2016-01-01,2016-02-01,2016-03-21,2016-03-24,2016-03-25,2016-05-01,2016-09-16,2016-10-12,2016-11-02,2016-11-20,2016-12-12,2016-12-25
8,2017-01-01,2017-02-06,2017-03-20,2017-04-13,2017-04-14,2017-05-01,2017-09-16,2017-10-12,2017-11-02,2017-11-20,2017-12-12,2017-12-25
9,2018-01-01,2018-02-05,2018-03-19,2018-03-29,2018-03-30,2018-05-01,2018-09-16,2018-10-12,2018-11-02,2018-11-20,2018-12-12,2018-12-25
10,2019-01-01,2019-02-04,2019-03-18,2019-04-18,2019-04-19,2019-05-01,2019-09-16,2019-10-12,2019-11-02,2019-11-20,2019-12-12,2019-12-25
11,2020-01-01,2020-02-03,2020-03-16,2020-04-09,2020-04-10,2020-05-01,2020-09-16,2020-10-12,2020-11-02,2020-11-20,2020-12-12,2020-12-25
12,2021-01-01,2021-02-01,2021-03-15,2021-04-01,2021-04-02,2021-05-01,2021-09-16,2021-10-12,2021-11-02,2021-11-20,2021-12-12,2021-12-25
13,2022-01-01,2022-02-07,2022-03-21,2022-04-14,2022-04-15,2022-05-01,2022-09-16,2022-10-12,2022-11-02,2022-11-20,2022-12-12,2022-12-25
14,2023-01-01,2023-02-06,2023-03-20,2023-04-06,2023-04-07,2023-05-01,2023-09-16,2023-10-12,2023-11-02,2023-11-20,2023-12-12,2023-12-25

In [26]:
no_habiles_df = no_habiles_df.apply(pd.to_datetime)

In [27]:
no_habiles_df = no_habiles_df.stack().reset_index(drop=True)
no_habiles_df.head()

0   2009-01-01
1   2009-02-02
2   2009-03-16
3   2009-04-09
4   2009-04-10
dtype: datetime64[ns]

In [28]:
no_habiles_df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 180 entries, 0 to 179
Series name: None
Non-Null Count  Dtype
--------------  -----
180 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.5 KB

In [29]:
afluencia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973245 entries, 0 to 973244
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   fecha      973245 non-null  datetime64[ns]
 1   anio       973245 non-null  int64
 2   mes        973245 non-null  object
 3   linea      973245 non-null  object
 4   estacion   973245 non-null  object
 5   afluencia  973245 non-null  int64
 6   weekday    973245 non-null  int64
 7   no_habil   973245 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(3), object(3)
memory usage: 52.9+ MB

In [30]:
afluencia_df['no_habil'] = afluencia_df['fecha'].isin(no_habiles_df)

In [33]:
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil
866086,2022-02-28,2022,Febrero,Línea 4,Martín Carrera,16315,0,False
738511,2020-05-15,2020,Mayo,Línea 9,Ciudad Deportiva,0,4,False
313224,2014-05-26,2014,Mayo,Línea A,Acatitla,14082,0,False
581162,2018-02-28,2018,Febrero,Línea 1,Insurgentes,59581,2,False
440806,2016-03-10,2016,Marzo,Línea 7,El Rosario,44947,3,False
174537,2012-06-14,2012,Junio,Línea 4,Consulado,6602,3,False
143585,2012-01-07,2012,Enero,Línea 2,General Anaya,29583,5,False
294873,2014-02-21,2014,Febrero,Línea 8,Santa Anita,5815,4,False
124864,2011-10-03,2011,Octubre,Línea 2,Bellas Artes,30259,0,False
233930,2013-04-14,2013,Abril,Línea 8,San Juan de Letrán,17751,6,False
560943,2017-11-16,2017,Noviembre,Línea 4,Canal del Norte,10736,3,False
783503,2020-12-31,2020,Diciembre,Línea 12,Ermita,3385,3,False
463116,2016-07-02,2016,Julio,Línea A,Tepalcates,15470,5,False
712331,2020-01-01,2020,Enero,Línea 12,Parque de los Venados,3292,2,True
875565,2022-04-18,2022,Abril,Línea 1,Salto del Agua,12676,0,False
748021,2020-07-03,2020,Julio,Línea 1,Boulevard Puerto Aéreo,14016,4,False
258211,2013-08-17,2013,Agosto,Línea 6,Tezozómoc,6479,5,False
741004,2020-05-28,2020,Mayo,Línea 1,Isabel la Católica,5120,3,False
686468,2019-08-22,2019,Agosto,Línea 1,Cuauhtémoc,26580,3,False
934182,2023-02-12,2023,Febrero,Línea 7,Tacubaya,2752,6,False