In [14]:
#reading csv file
import pandas as pd
from pathlib import Path
import datetime
data_file = Path("C:/Users/Beto Mtz/OneDrive - Facultad de Ingeniería UNAM/Escritorio/PROYECTOFINAL/afluenciastc_desglosado_08_2023.csv")
# Use Pandas to the read data.
afluencia_df = pd.read_csv(data_file)
afluencia_df.head()

        fecha    mes  anio    linea  estacion  tipo_pago  afluencia
0  2021-01-01  Enero  2021  Línea 1  Balbuena     Boleto       1848
1  2021-01-01  Enero  2021  Línea 1  Balbuena    Prepago        790
2  2021-01-01  Enero  2021  Línea 1  Balbuena  Gratuidad        325
3  2021-01-01  Enero  2021  Línea 1  Balderas     Boleto       1103
4  2021-01-01  Enero  2021  Línea 1  Balderas    Prepago        922

In [15]:
#transforming to datetime
afluencia_df= afluencia_df.astype({"fecha": "datetime64"})
afluencia_df.dtypes

fecha        datetime64[ns]
mes                  object
anio                  int64
linea                object
estacion             object
tipo_pago            object
afluencia             int64
dtype: object

In [16]:
fechas=afluencia_df["fecha"]
fechas

0        2021-01-01
1        2021-01-01
2        2021-01-01
3        2021-01-01
4        2021-01-01
            ...
569200   2023-08-31
569201   2023-08-31
569202   2023-08-31
569203   2023-08-31
569204   2023-08-31
Name: fecha, Length: 569205, dtype: datetime64[ns]

In [17]:
afluencia_df["weekday"]=afluencia_df["fecha"].dt.day_of_week
afluencia_df

,fecha,mes,anio,linea,estacion,tipo_pago,afluencia,weekday
0,2021-01-01,Enero,2021,Línea 1,Balbuena,Boleto,1848,4
1,2021-01-01,Enero,2021,Línea 1,Balbuena,Prepago,790,4
2,2021-01-01,Enero,2021,Línea 1,Balbuena,Gratuidad,325,4
3,2021-01-01,Enero,2021,Línea 1,Balderas,Boleto,1103,4
4,2021-01-01,Enero,2021,Línea 1,Balderas,Prepago,922,4
...,...,...,...,...,...,...,...,...
569200,2023-08-31,Agosto,2023,Línea 12,Insurgentes Sur,Prepago,25758,3
569201,2023-08-31,Agosto,2023,Línea 12,Insurgentes Sur,Gratuidad,2810,3
569202,2023-08-31,Agosto,2023,Línea 12,Mixcoac,Boleto,0,3
569203,2023-08-31,Agosto,2023,Línea 12,Mixcoac,Prepago,11293,3
569204,2023-08-31,Agosto,2023,Línea 12,Mixcoac,Gratuidad,1201,3