In [1]:
# reading csv file
import pandas as pd
from pathlib import Path
import datetime
data_file = Path("Resources/afluenciastc_simple_08_2023.csv")
# Use Pandas to the read data.
afluencia_df = pd.read_csv(data_file)
afluencia_df.head()

        fecha  anio    mes    linea            estacion  afluencia
0  2010-01-01  2010  Enero  Línea 1            Zaragoza      20227
1  2010-01-01  2010  Enero  Línea 1  Isabel la Católica       6487
2  2010-01-01  2010  Enero  Línea 1           Moctezuma      10304
3  2010-01-01  2010  Enero  Línea 1         Pino Suárez       8679
4  2010-01-01  2010  Enero  Línea 1        Gómez Farías      19499

In [2]:
# transforming to datetime
afluencia_df = afluencia_df.astype({"fecha": "datetime64"})
afluencia_df.dtypes

fecha        datetime64[ns]
anio                  int64
mes                  object
linea                object
estacion             object
afluencia             int64
dtype: object

In [3]:
fechas = afluencia_df["fecha"]
fechas

0        2010-01-01
1        2010-01-01
2        2010-01-01
3        2010-01-01
4        2010-01-01
            ...
973240   2023-08-31
973241   2023-08-31
973242   2023-08-31
973243   2023-08-31
973244   2023-08-31
Name: fecha, Length: 973245, dtype: datetime64[ns]

In [4]:
afluencia_df["weekday"] = afluencia_df["fecha"].dt.day_of_week
afluencia_df.head(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4
5,2010-01-01,2010,Enero,Línea 6,Deportivo 18 de Marzo,621,4
6,2010-01-01,2010,Enero,Línea 6,La Villa/Basílica,24792,4
7,2010-01-01,2010,Enero,Línea 9,Pantitlán,27000,4
8,2010-01-01,2010,Enero,Línea 8,Aculco,3652,4
9,2010-01-01,2010,Enero,Línea 9,Velódromo,3239,4
10,2010-01-01,2010,Enero,Línea 5,Autobuses del Norte,16824,4
11,2010-01-01,2010,Enero,Línea 5,Misterios,3513,4
12,2010-01-01,2010,Enero,Línea 7,Constituyentes,1417,4
13,2010-01-01,2010,Enero,Línea 7,Refinería,2325,4
14,2010-01-01,2010,Enero,Línea 3,Etiopía/Plaza de la Transparencia,7078,4
15,2010-01-01,2010,Enero,Línea 7,Polanco,6173,4
16,2010-01-01,2010,Enero,Línea 4,Canal del Norte,2317,4
17,2010-01-01,2010,Enero,Línea 4,Bondojito,2474,4
18,2010-01-01,2010,Enero,Línea 4,Santa Anita,1042,4
19,2010-01-01,2010,Enero,Línea 2,Popotla,2419,4

In [5]:
no_habiles_df = Path("Resources/dias_no_habiles.csv")
# Use Pandas to the read data.
no_habiles_df = pd.read_csv(no_habiles_df)
no_habiles_df.head(15)

,enero 1,febreo 4,marzo 21,jueves santo,viernes sannto,mayo 1,septiembre 16,octubre 12,noviembre 2,20 de noviembre,diciembre 12,navidad
0,2009-01-01,2009-02-02,2009-03-16,2009-04-09,2009-04-10,2009-05-01,2009-09-16,2009-10-12,2009-11-02,2009-11-20,2009-12-12,2009-12-25
1,2010-01-01,2010-02-01,2010-03-15,2010-04-01,2010-04-02,2010-05-01,2010-09-16,2010-10-12,2010-11-02,2010-11-20,2010-12-12,2010-12-25
2,2011-01-01,2011-02-07,2011-03-21,2011-04-21,2011-04-22,2011-05-01,2011-09-16,2011-10-12,2011-11-02,2011-11-20,2011-12-12,2011-12-25
3,2012-01-01,2012-02-06,2012-03-19,2012-04-05,2012-04-06,2012-05-01,2012-09-16,2012-10-12,2012-11-02,2012-11-20,2012-12-12,2012-12-25
4,2013-01-01,2013-02-04,2013-03-18,2013-03-28,2013-03-29,2013-05-01,2013-09-16,2013-10-12,2013-11-02,2013-11-20,2013-12-12,2013-12-25
5,2014-01-01,2014-02-03,2014-03-17,2014-04-17,2014-04-18,2014-05-01,2014-09-16,2014-10-12,2014-11-02,2014-11-20,2014-12-12,2014-12-25
6,2015-01-01,2015-02-02,2015-03-16,2015-04-02,2015-04-03,2015-05-01,2015-09-16,2015-10-12,2015-11-02,2015-11-20,2015-12-12,2015-12-25
7,2016-01-01,2016-02-01,2016-03-21,2016-03-24,2016-03-25,2016-05-01,2016-09-16,2016-10-12,2016-11-02,2016-11-20,2016-12-12,2016-12-25
8,2017-01-01,2017-02-06,2017-03-20,2017-04-13,2017-04-14,2017-05-01,2017-09-16,2017-10-12,2017-11-02,2017-11-20,2017-12-12,2017-12-25
9,2018-01-01,2018-02-05,2018-03-19,2018-03-29,2018-03-30,2018-05-01,2018-09-16,2018-10-12,2018-11-02,2018-11-20,2018-12-12,2018-12-25
10,2019-01-01,2019-02-04,2019-03-18,2019-04-18,2019-04-19,2019-05-01,2019-09-16,2019-10-12,2019-11-02,2019-11-20,2019-12-12,2019-12-25
11,2020-01-01,2020-02-03,2020-03-16,2020-04-09,2020-04-10,2020-05-01,2020-09-16,2020-10-12,2020-11-02,2020-11-20,2020-12-12,2020-12-25
12,2021-01-01,2021-02-01,2021-03-15,2021-04-01,2021-04-02,2021-05-01,2021-09-16,2021-10-12,2021-11-02,2021-11-20,2021-12-12,2021-12-25
13,2022-01-01,2022-02-07,2022-03-21,2022-04-14,2022-04-15,2022-05-01,2022-09-16,2022-10-12,2022-11-02,2022-11-20,2022-12-12,2022-12-25
14,2023-01-01,2023-02-06,2023-03-20,2023-04-06,2023-04-07,2023-05-01,2023-09-16,2023-10-12,2023-11-02,2023-11-20,2023-12-12,2023-12-25

In [6]:
no_habiles_df = no_habiles_df.apply(pd.to_datetime)

In [7]:
no_habiles_df = no_habiles_df.stack().reset_index(drop=True)
no_habiles_df.head()

0   2009-01-01
1   2009-02-02
2   2009-03-16
3   2009-04-09
4   2009-04-10
dtype: datetime64[ns]

In [8]:
no_habiles_df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 180 entries, 0 to 179
Series name: None
Non-Null Count  Dtype
--------------  -----
180 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.5 KB

In [9]:
afluencia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973245 entries, 0 to 973244
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   fecha      973245 non-null  datetime64[ns]
 1   anio       973245 non-null  int64
 2   mes        973245 non-null  object
 3   linea      973245 non-null  object
 4   estacion   973245 non-null  object
 5   afluencia  973245 non-null  int64
 6   weekday    973245 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 52.0+ MB

In [10]:
afluencia_df['no_habil'] = afluencia_df['fecha'].isin(no_habiles_df)

In [11]:
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil
166738,2012-05-05,2012,Mayo,Línea 7,Camarones,11997,5,False
62585,2010-11-17,2010,Noviembre,Línea 9,Ciudad Deportiva,7482,2,False
881877,2022-05-20,2022,Mayo,Línea 4,Candelaria,6083,4,False
184734,2012-08-05,2012,Agosto,Línea 5,Misterios,4983,6,False
733244,2020-04-18,2020,Abril,Línea 8,Chabacano,1300,5,False
744427,2020-06-14,2020,Junio,Línea A,Tepalcates,5434,6,False
233129,2013-04-10,2013,Abril,Línea 5,Oceanía,9511,2,False
444463,2016-03-29,2016,Marzo,Línea 2,Normal,43703,1,False
436170,2016-02-15,2016,Febrero,Línea A,Los Reyes,18602,0,False
767974,2020-10-13,2020,Octubre,Línea B,Morelos,3891,1,False
345652,2014-11-08,2014,Noviembre,Línea 6,Martín Carrera,25077,5,False
918325,2022-11-23,2022,Noviembre,Línea 3,Etiopía/Plaza de la Transparencia,22668,2,False
84655,2011-03-11,2011,Marzo,Línea 2,Ermita,28659,4,False
248093,2013-06-26,2013,Junio,Línea 2,Tasqueña,74114,2,False
265978,2013-09-25,2013,Septiembre,Línea 9,Jamaica,12949,2,False
859434,2022-01-25,2022,Enero,Línea 3,División del Norte,8651,1,False
33781,2010-06-23,2010,Junio,Línea 2,Panteones,9072,2,False
266229,2013-09-27,2013,Septiembre,Línea B,Múzquiz,39850,4,False
371880,2015-03-23,2015,Marzo,Línea 5,Valle Gómez,4550,0,False
130789,2011-11-02,2011,Noviembre,Línea 3,Hidalgo,12127,2,True

In [12]:
grupo_estaciones = afluencia_df[['estacion', 'linea']]

In [13]:
grupo_estaciones = grupo_estaciones.drop_duplicates(
    subset=["estacion", "linea"])

In [14]:
grupo_estaciones

                 estacion     linea
0                Zaragoza   Línea 1
1      Isabel la Católica   Línea 1
2               Moctezuma   Línea 1
3             Pino Suárez   Línea 1
4            Gómez Farías   Línea 1
..                    ...       ...
190         Mexicaltzingo  Línea 12
191               Morelos   Línea B
192  Ricardo Flores Magón   Línea B
193               Jamaica   Línea 9
194       Lázaro Cárdenas   Línea 9

[195 rows x 2 columns]

In [15]:
intersecciones = grupo_estaciones.groupby('estacion')['linea'].count()

In [16]:
intersecciones = intersecciones.reset_index()
intersecciones

                estacion  linea
0               Acatitla      1
1                 Aculco      1
2      Agrícola Oriental      1
3                Allende      1
4               Apatlaco      1
..                   ...    ...
158                 Xola      1
159               Zapata      2
160           Zapotitlán      1
161             Zaragoza      1
162  Zócalo/Tenochtitlan      1

[163 rows x 2 columns]

In [17]:
# Seasons Column
def obtener_season(fecha):
    if (fecha.month >= 3 and fecha.month <= 5):
        return 1
    elif (fecha.month >= 6 and fecha.month <= 8):
        return 2
    elif (fecha.month >= 9 and fecha.month <= 11):
        return 3
    else:
        return 4


afluencia_df['season'] = afluencia_df['fecha'].apply(obtener_season)

afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season
471698,2016-08-15,2016,Agosto,Línea 8,Santa Anita,6495,0,False,2
960301,2023-06-26,2023,Junio,Línea 7,Barranca del Muerto,27694,0,False,2
760115,2020-09-03,2020,Septiembre,Línea 1,Tacubaya,16964,3,False,3
501259,2017-01-14,2017,Enero,Línea 3,Viveros/Derechos Humanos,20731,5,False,4
515719,2017-03-29,2017,Marzo,Línea 3,Deportivo 18 de Marzo,46522,2,False,1
111400,2011-07-26,2011,Julio,Línea 3,Juárez,19687,1,False,2
674288,2019-06-20,2019,Junio,Línea 9,Puebla,37922,3,False,2
599705,2018-06-03,2018,Junio,Línea 4,Jamaica,5145,6,False,2
783698,2021-01-01,2021,Enero,Línea B,Plaza Aragón,5996,4,True,4
28852,2010-05-28,2010,Mayo,Línea B,Bosque de Aragón,7192,4,False,1
886382,2022-06-12,2022,Junio,Línea 5,Valle Gómez,2136,6,False,2
644557,2019-01-19,2019,Enero,Línea 3,Copilco,24266,5,False,4
68167,2010-12-16,2010,Diciembre,Línea 7,San Antonio,13549,3,False,4
612123,2018-08-06,2018,Agosto,Línea 3,Eugenia,20112,0,False,2
453359,2016-05-13,2016,Mayo,Línea 9,Patriotismo,25936,4,False,1
221959,2013-02-12,2013,Febrero,Línea B,Nezahualcóyotl,28251,1,False,4
404088,2015-09-04,2015,Septiembre,Línea 9,Tacubaya,51450,4,False,3
826074,2021-08-07,2021,Agosto,Línea 2,Portales,10819,5,False,2
387729,2015-06-12,2015,Junio,Línea 6,Lindavista,21829,4,False,2
49565,2010-09-12,2010,Septiembre,Línea 6,Ferrería/Arena Ciudad de México,4236,6,False,3

In [18]:
def Summer_vacations(fecha):
    spring_2019 = (fecha >= pd.Timestamp('2019-06-24')
                   ) and (fecha <= pd.Timestamp('2019-08-26'))
    spring_2020 = (fecha >= pd.Timestamp('2020-07-06')
                   ) and (fecha <= pd.Timestamp('2020-08-24'))
    spring_2021 = (fecha >= pd.Timestamp('2021-07-09')
                   ) and (fecha <= pd.Timestamp('2021-08-30'))
    spring_2022 = (fecha >= pd.Timestamp('2022-07-28')
                   ) and (fecha <= pd.Timestamp('2022-08-29'))

    return spring_2019 or spring_2020 or spring_2021 or spring_2022


afluencia_df['Summer_vacations'] = afluencia_df['fecha'].apply(
    Summer_vacations)
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season,Summer_vacations
95553,2011-05-06,2011,Mayo,Línea 1,Balbuena,20730,4,False,1,False
848488,2021-11-30,2021,Noviembre,Línea 2,Colegio Militar,8907,1,False,3,False
273111,2013-11-01,2013,Noviembre,Línea 3,La Raza,41059,4,False,3,False
287149,2014-01-12,2014,Enero,Línea 6,Lindavista,3461,6,False,4,False
696278,2019-10-11,2019,Octubre,Línea B,Ciudad Azteca,36797,4,False,3,False
455601,2016-05-25,2016,Mayo,Línea 7,Refinería,11455,2,False,1,False
723287,2020-02-27,2020,Febrero,Línea 4,Santa Anita,2332,3,False,4,False
741443,2020-05-30,2020,Mayo,Línea 5,Autobuses del Norte,7987,5,False,1,False
189050,2012-08-27,2012,Agosto,Línea 7,San Joaquín,20901,0,False,2,False
813543,2021-06-04,2021,Junio,Línea 1,Candelaria,19092,4,False,2,False
139444,2011-12-17,2011,Diciembre,Línea 2,Portales,29957,5,False,4,False
401327,2015-08-21,2015,Agosto,Línea 7,Polanco,39392,4,False,2,False
934257,2023-02-13,2023,Febrero,Línea 1,Observatorio,49258,0,False,4,False
193750,2012-09-20,2012,Septiembre,Línea 3,Eugenia,26011,3,False,3,False
318120,2014-06-20,2014,Junio,Línea 6,Instituto del Petróleo,3976,4,False,2,False
490530,2016-11-20,2016,Noviembre,Línea 3,La Raza,17140,6,True,3,False
78514,2011-02-07,2011,Febrero,Línea 3,Deportivo 18 de Marzo,28802,0,True,4,False
326694,2014-08-03,2014,Agosto,Línea 4,Fray Servando,7232,6,False,2,False
16870,2010-03-28,2010,Marzo,Línea 3,Miguel Ángel de Quevedo,16461,6,False,1,False
746197,2020-06-23,2020,Junio,Línea 3,Indios Verdes,53963,1,False,2,False

In [19]:
estaciones = afluencia_df["estacion"].unique()
len(estaciones)

163

In [20]:
# separating date
afluencia_df["Dia"] = afluencia_df["fecha"].dt.day
afluencia_df

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season,Summer_vacations,Dia
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4,True,4,False,1
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4,True,4,False,1
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4,True,4,False,1
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4,True,4,False,1
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4,True,4,False,1
...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,2023,Agosto,Línea B,Romero Rubio,14861,3,False,2,False,31
973241,2023-08-31,2023,Agosto,Línea B,Río de los Remedios,15842,3,False,2,False,31
973242,2023-08-31,2023,Agosto,Línea B,San Lázaro,24833,3,False,2,False,31
973243,2023-08-31,2023,Agosto,Línea B,Tepito,19832,3,False,2,False,31
973244,2023-08-31,2023,Agosto,Línea B,Villa de Aragón,15716,3,False,2,False,31

In [21]:
estaciones

array(['Zaragoza', 'Isabel la Católica', 'Moctezuma', 'Pino Suárez',
       'Gómez Farías', 'Deportivo 18 de Marzo', 'La Villa/Basílica',
       'Pantitlán', 'Aculco', 'Velódromo', 'Autobuses del Norte',
       'Misterios', 'Constituyentes', 'Refinería',
       'Etiopía/Plaza de la Transparencia', 'Polanco', 'Canal del Norte',
       'Bondojito', 'Santa Anita', 'Popotla', 'General Anaya',
       'División del Norte', 'Zapata', 'Fray Servando', 'Hangares',
       'El Rosario', 'Ferrería/Arena Ciudad de México',
       'Instituto del Petróleo', 'Coyuya', 'Apatlaco', 'La Viga',
       'Chabacano', 'San Juan de Letrán', 'Barranca del Muerto',
       'Garibaldi/Lagunilla', 'Buenavista', 'Guerrero', 'Oceanía',
       'Nezahualcóyotl', 'Revolución', 'Indios Verdes', 'Hidalgo',
       'Colegio Militar', 'Normal', 'San Cosme', 'Juárez', 'Olímpica',
       'Ciudad Azteca', 'Tlaltenco', 'Insurgentes Sur', 'Culhuacán',
       'Calle 11', 'Chilpancingo', 'Peñón Viejo', 'Canal de San Juan',
       'Lomas Estrella', 'San Andrés Tomatlán', 'Ermita', 'Xola',
       'Salto del Agua', 'Balderas', 'Portales', 'Eduardo Molina',
       'Candelaria', 'Aragón', 'Tacubaya', 'San Pedro de los Pinos',
       'Camarones', 'Doctores', 'San Antonio', 'Mixcoac', 'Tacuba',
       'Martín Carrera', 'Auditorio', 'Aquiles Serdán', 'San Joaquín',
       'Morelos', 'San Antonio Abad', 'Viaducto', 'Norte 45', 'Vallejo',
       'Tezozómoc', 'UAM-Azcapotzalco', 'Bellas Artes', 'Cuitláhuac',
       'Terminal Aérea', 'Eugenia', 'Observatorio', 'Cuatro Caminos',
       'Panteones', 'Copilco', 'Centro Médico', 'Universidad',
       'Lindavista', 'Coyoacán', 'Jamaica', 'La Raza',
       'Viveros/Derechos Humanos', 'Miguel Ángel de Quevedo',
       'Chapultepec', 'Obrera', 'Allende', 'Zócalo/Tenochtitlan',
       'Nativitas', 'Boulevard Puerto Aéreo', 'Sevilla',
       'Villa de Cortés', 'Consulado', 'Talismán', 'Valle Gómez',
       'Politécnico', 'Niños Héroes', 'Hospital General', 'Tasqueña',
       'Potrero', 'Tlatelolco', 'Balbuena', 'Tepito', 'Merced',
       'Insurgentes', 'Juanacatlán', 'Plaza Aragón', 'Guelatao',
       'Lagunilla', 'La Paz', 'Iztapalapa', 'Patriotismo',
       'Cerro de la Estrella', 'Zapotitlán', 'Nopalera', 'Olivos',
       'Río de los Remedios', 'Múzquiz', 'Atlalilco', 'Tezonco',
       'Impulsora', 'Escuadrón 201', 'Periférico Oriente', 'Iztacalco',
       'Tláhuac', 'UAM-I', 'Ecatepec', 'Acatitla',
       'Hospital 20 de Noviembre', 'Eje Central', 'Parque de los Venados',
       'San Lázaro', 'Romero Rubio', 'Villa de Aragón', 'Tepalcates',
       'Agrícola Oriental', 'Deportivo Oceanía', 'Puebla',
       'Ciudad Deportiva', 'Mixiuhca', 'Bosque de Aragón', 'Santa Marta',
       'Los Reyes', 'Constitución de 1917', 'Cuauhtémoc', 'Mexicaltzingo',
       'Ricardo Flores Magón', 'Lázaro Cárdenas'], dtype=object)

In [22]:
esta_list = ['Zaragoza', 'Isabel la Católica', 'Moctezuma', 'Pino Suárez', 'Gómez Farías', 'Deportivo 18 de Marzo', 'La Villa/Basílica', 'Pantitlán', 'Aculco', 'Velódromo', 'Autobuses del Norte', 'Misterios', 'Constituyentes', 'Refinería', 'Etiopía/Plaza de la Transparencia', 'Polanco', 'Canal del Norte', 'Bondojito', 'Santa Anita', 'Popotla', 'General Anaya', 'División del Norte', 'Zapata', 'Fray Servando', 'Hangares', 'El Rosario', 'Ferrería/Arena Ciudad de México', 'Instituto del Petróleo', 'Coyuya', 'Apatlaco', 'La Viga', 'Chabacano', 'San Juan de Letrán', 'Barranca del Muerto', 'Garibaldi/Lagunilla', 'Buenavista', 'Guerrero', 'Oceanía', 'Nezahualcóyotl', 'Revolución', 'Indios Verdes', 'Hidalgo', 'Colegio Militar', 'Normal', 'San Cosme', 'Juárez', 'Olímpica', 'Ciudad Azteca', 'Tlaltenco', 'Insurgentes Sur', 'Culhuacán', 'Calle 11', 'Chilpancingo', 'Peñón Viejo', 'Canal de San Juan', 'Lomas Estrella', 'San Andrés Tomatlán', 'Ermita', 'Xola', 'Salto del Agua', 'Balderas', 'Portales', 'Eduardo Molina', 'Candelaria', 'Aragón', 'Tacubaya', 'San Pedro de los Pinos', 'Camarones', 'Doctores', 'San Antonio', 'Mixcoac', 'Tacuba', 'Martín Carrera', 'Auditorio', 'Aquiles Serdán', 'San Joaquín', 'Morelos', 'San Antonio Abad', 'Viaducto', 'Norte 45', 'Vallejo',
             'Tezozómoc', 'UAM-Azcapotzalco', 'Bellas Artes', 'Cuitláhuac', 'Terminal Aérea', 'Eugenia', 'Observatorio', 'Cuatro Caminos', 'Panteones', 'Copilco', 'Centro Médico', 'Universidad', 'Lindavista', 'Coyoacán', 'Jamaica', 'La Raza', 'Viveros/Derechos Humanos', 'Miguel Ángel de Quevedo', 'Chapultepec', 'Obrera', 'Allende', 'Zócalo/Tenochtitlan', 'Nativitas', 'Boulevard Puerto Aéreo', 'Sevilla', 'Villa de Cortés', 'Consulado', 'Talismán', 'Valle Gómez', 'Politécnico', 'Niños Héroes', 'Hospital General', 'Tasqueña', 'Potrero', 'Tlatelolco', 'Balbuena', 'Tepito', 'Merced', 'Insurgentes', 'Juanacatlán', 'Plaza Aragón', 'Guelatao', 'Lagunilla', 'La Paz', 'Iztapalapa', 'Patriotismo', 'Cerro de la Estrella', 'Zapotitlán', 'Nopalera', 'Olivos', 'Río de los Remedios', 'Múzquiz', 'Atlalilco', 'Tezonco', 'Impulsora', 'Escuadrón 201', 'Periférico Oriente', 'Iztacalco', 'Tláhuac', 'UAM-I', 'Ecatepec', 'Acatitla', 'Hospital 20 de Noviembre', 'Eje Central', 'Parque de los Venados', 'San Lázaro', 'Romero Rubio', 'Villa de Aragón', 'Tepalcates', 'Agrícola Oriental', 'Deportivo Oceanía', 'Puebla', 'Ciudad Deportiva', 'Mixiuhca', 'Bosque de Aragón', 'Santa Marta', 'Los Reyes', 'Constitución de 1917', 'Cuauhtémoc', 'Mexicaltzingo', 'Ricardo Flores Magón', 'Lázaro Cárdenas']
esta_dele = ['Venustiano Carranza',
             'Cuauhtémoc',
             'Venustiano Carranza',
             'Cuauhtémoc',
             'Venustiano Carranza',
             'Gustavo A. Madero',
             'Gustavo A. Madero',
             'Iztacalco',
             'Iztapalapa',
             'Iztacalco',
             'Gustavo A. Madero',
             'Cuauhtémoc',
             'Miguel Hidalgo',
             'Azcapotzalco',
             'Benito Juárez',
             'Miguel Hidalgo',
             'Cuauhtémoc',
             'Gustavo A. Madero',
             'Iztacalco',
             'Miguel Hidalgo',
             'Benito Juárez',
             'Benito Juárez',
             'Benito Juárez',
             'Venustiano Carranza',
             'Venustiano Carranza',
             'Azcapotzalco',
             'Azcapotzalco',
             'Gustavo A. Madero',
             'Iztacalco',
             'Iztacalco',
             'Iztacalco',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Álvaro Obregón',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Venustiano Carranza',
             'Venustiano Carranza',
             'Benito Juárez',
             'Gustavo A. Madero',
             'Cuauhtémoc',
             'Miguel Hidalgo',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Benito Juárez',
             'Ecatepec',
             'Tláhuac',
             'Benito Juárez',
             'Iztapalapa',
             'Iztapalapa',
             'Benito Juárez',
             'Tláhuac',
             'Iztacalco',
             'Iztapalapa',
             'Iztapalapa',
             'Iztapalapa',
             'Benito Juárez',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Benito Juárez',
             'Gustavo A. Madero',
             'Venustiano Carranza',
             'Gustavo A. Madero',
             'Miguel Hidalgo',
             'Álvaro Obregón',
             'Azcapotzalco',
             'Cuauhtémoc',
             'Tláhuac',
             'Álvaro Obregón',
             'Miguel Hidalgo',
             'Gustavo A. Madero',
             'Miguel Hidalgo',
             'Azcapotzalco',
             'Miguel Hidalgo',
             'Venustiano Carranza',
             'Cuauhtémoc',
             'Benito Juárez',
             'Gustavo A. Madero',
             'Gustavo A. Madero',
             'Azcapotzalco',
             'Azcapotzalco',
             'Cuauhtémoc',
             'Azcapotzalco',
             'Venustiano Carranza',
             'Benito Juárez',
             'Miguel Hidalgo',
             'Miguel Hidalgo',
             'Azcapotzalco',
             'Coyoacán',
             'Cuauhtémoc',
             'Coyoacán',
             'Gustavo A. Madero',
             'Coyoacán',
             'Venustiano Carranza',
             'Gustavo A. Madero',
             'Coyoacán',
             'Coyoacán',
             'Miguel Hidalgo',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Benito Juárez',
             'Venustiano Carranza',
             'Benito Juárez',
             'Benito Juárez',
             'Venustiano Carranza',
             'Gustavo A. Madero',
             'Venustiano Carranza',
             'Gustavo A. Madero',
             'Benito Juárez',
             'Cuauhtémoc',
             'Coyoacán',
             'Gustavo A. Madero',
             'Cuauhtémoc',
             'Venustiano Carranza',
             'Cuauhtémémoc',
             'Cuauhtémoc',
             'Cuauhtémoc',
             'Cuajimalpa',
             'Ecatepec',
             'Iztapalapa',
             'Cuauhtémoc',
             'La Paz (Estado de México)',
             'Iztapalapa',
             'Benito Juárez',
             'Iztapalapa',
             'Tláhuac',
             'Tláhuac',
             'Tláhuac',
             'Gustavo A. Madero',
             'Gustavo A. Madero',
             'Iztapalapa',
             'Iztapalapa',
             'Nezahualcóyotl',
             'Nezahualcóyotl',
             'Nezahualcóyotl',
             'Iztacalco',
             'Tláhuac',
             'Iztapalapa',
             'Ecatepec',
             'Iztapalapa',
             'Álvaro Obregón',
             'Cuauhtémoc',
             'Benito Juárez',
             'Cuauhtémoc',
             'Venustiano Carranza',
             'Gustavo A. Madero',
             'Venustiano Carranza',
             'Iztacalco',
             'Venustiano Carranza',
             'Venustiano Carranza',
             'Iztacalco',
             'Venustiano Carranza',
             'Nezahualcóyotl',
             'Iztapalapa',
             'La Paz (Estado de México)',
             'Tláhuac',
             'Cuauhtémoc',
             'Iztapalapa',
             'Cuauhtémoc',
             'Cuauhtémoc']
len(esta_list)
esta_del_df = pd.DataFrame({"estacion": esta_list, "Delegacion": esta_dele})
esta_del_df

                 estacion           Delegacion
0                Zaragoza  Venustiano Carranza
1      Isabel la Católica           Cuauhtémoc
2               Moctezuma  Venustiano Carranza
3             Pino Suárez           Cuauhtémoc
4            Gómez Farías  Venustiano Carranza
..                    ...                  ...
158  Constitución de 1917              Tláhuac
159            Cuauhtémoc           Cuauhtémoc
160         Mexicaltzingo           Iztapalapa
161  Ricardo Flores Magón           Cuauhtémoc
162       Lázaro Cárdenas           Cuauhtémoc

[163 rows x 2 columns]

In [23]:
afluencia_df = pd.merge(afluencia_df, esta_del_df, on="estacion", how="left")
afluencia_df

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season,Summer_vacations,Dia,Delegacion
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4,True,4,False,1,Venustiano Carranza
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4,True,4,False,1,Cuauhtémoc
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4,True,4,False,1,Venustiano Carranza
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4,True,4,False,1,Cuauhtémoc
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4,True,4,False,1,Venustiano Carranza
...,...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,2023,Agosto,Línea B,Romero Rubio,14861,3,False,2,False,31,Venustiano Carranza
973241,2023-08-31,2023,Agosto,Línea B,Río de los Remedios,15842,3,False,2,False,31,Gustavo A. Madero
973242,2023-08-31,2023,Agosto,Línea B,San Lázaro,24833,3,False,2,False,31,Cuauhtémoc
973243,2023-08-31,2023,Agosto,Línea B,Tepito,19832,3,False,2,False,31,Cuauhtémémoc
973244,2023-08-31,2023,Agosto,Línea B,Villa de Aragón,15716,3,False,2,False,31,Gustavo A. Madero

In [24]:

len(afluencia_df["estacion"].unique())

163

In [25]:
afluencia_df.columns

Index(['fecha', 'anio', 'mes', 'linea', 'estacion', 'afluencia', 'weekday',
       'no_habil', 'season', 'Summer_vacations', 'Dia', 'Delegacion'],
      dtype='object')

In [26]:
afluencia_df.rename(columns={'fecha': 'date', 'anio': 'year', 'mes': 'month', 'linea': 'line', 'estacion': 'station', 'afluencia': 'influx',
                             'no_habil': 'day_off', 'Dia': 'day', 'Delegacion': 'district', 'Summer_vacations': 'summer_vacations'}, inplace=True)

In [27]:
afluencia_df.head()

,date,year,month,line,station,influx,weekday,day_off,season,summer_vacations,day,district
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4,True,4,False,1,Venustiano Carranza
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4,True,4,False,1,Cuauhtémoc
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4,True,4,False,1,Venustiano Carranza
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4,True,4,False,1,Cuauhtémoc
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4,True,4,False,1,Venustiano Carranza

In [28]:
afluencia_df = afluencia_df[['date', 'day', 'month', 'year', 'weekday', 'day_off',
                             'season', 'summer_vacations', 'station', 'district', 'line', 'influx']]

In [29]:
afluencia_df

,date,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx
0,2010-01-01,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227
1,2010-01-01,1,Enero,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487
2,2010-01-01,1,Enero,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304
3,2010-01-01,1,Enero,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679
4,2010-01-01,1,Enero,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499
...,...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,31,Agosto,2023,3,False,2,False,Romero Rubio,Venustiano Carranza,Línea B,14861
973241,2023-08-31,31,Agosto,2023,3,False,2,False,Río de los Remedios,Gustavo A. Madero,Línea B,15842
973242,2023-08-31,31,Agosto,2023,3,False,2,False,San Lázaro,Cuauhtémoc,Línea B,24833
973243,2023-08-31,31,Agosto,2023,3,False,2,False,Tepito,Cuauhtémémoc,Línea B,19832
973244,2023-08-31,31,Agosto,2023,3,False,2,False,Villa de Aragón,Gustavo A. Madero,Línea B,15716

In [30]:
date_df = afluencia_df[['date', 'day', 'month', 'year',
                        'weekday', 'day_off', 'season', 'summer_vacations']]

In [31]:
date_df = date_df.copy()

In [32]:
date_df = date_df.drop_duplicates(subset=['date'])

In [33]:
date_df = date_df.reset_index(drop=True)

In [34]:
date_df.tail()

           date  day   month  year  weekday  day_off  season  summer_vacations
4986 2023-08-27   27  Agosto  2023        6    False       2             False
4987 2023-08-28   28  Agosto  2023        0    False       2             False
4988 2023-08-29   29  Agosto  2023        1    False       2             False
4989 2023-08-30   30  Agosto  2023        2    False       2             False
4990 2023-08-31   31  Agosto  2023        3    False       2             False

In [35]:
date_df.to_csv("Outputs/dates.csv")

In [36]:
data_file_coordenadas = Path("Resources/estacion-coordenadas.csv")
# Use Pandas to the read data.
coordenadas_df = pd.read_csv(data_file_coordenadas)

coordenadas_df

,Zaragoza,19.4130896,-99.08234751,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Isabel la Católica,19.427258,-99.137948,NaN,NaN,NaN,NaN,NaN
1,Moctezuma,19.427017,-99.109746,NaN,NaN,NaN,NaN,NaN
2,Pino Suárez,19.424618,-99.132960,NaN,NaN,NaN,NaN,NaN
3,Gómez Farías,19.416672,-99.090221,NaN,NaN,NaN,NaN,NaN
4,Deportivo 18 de Marzo,19.483663,-99.125781,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# Adding header and deleted row with header
coordenadas_df.columns = ["station", "Lat", "Long", "A", "b", "c", "d", "e"]
# drop NAN columns
coordenadas_df = coordenadas_df.drop(["A", "b", "c", "d", "e"], axis=1)
# adding missing row
new_row = ["Zaragoza", 19.4130896, -99.08234751]
coordenadas_df.loc[162] = new_row

# Drop NAN row
coordenadas_df = coordenadas_df.drop(
    coordenadas_df.index[[163, 164, 165, 166, 167, 168]], axis=0)
coordenadas_df

                   station        Lat       Long
0       Isabel la Católica  19.427258 -99.137948
1                Moctezuma  19.427017 -99.109746
2              Pino Suárez  19.424618 -99.132960
3             Gómez Farías  19.416672 -99.090221
4    Deportivo 18 de Marzo  19.483663 -99.125781
..                     ...        ...        ...
158             Cuauhtémoc  19.425958 -99.154607
159          Mexicaltzingo  19.358023 -99.123151
160   Ricardo Flores Magón  19.437344 -99.103747
161        Lázaro Cárdenas  19.407223 -99.144434
162               Zaragoza  19.413090 -99.082348

[163 rows x 3 columns]

In [38]:
afluencia_df = pd.merge(afluencia_df, coordenadas_df, on="station", how="left")
afluencia_df

,date,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long
0,2010-01-01,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348
1,2010-01-01,1,Enero,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948
2,2010-01-01,1,Enero,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746
3,2010-01-01,1,Enero,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960
4,2010-01-01,1,Enero,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,31,Agosto,2023,3,False,2,False,Romero Rubio,Venustiano Carranza,Línea B,14861,19.440864,-99.094576
973241,2023-08-31,31,Agosto,2023,3,False,2,False,Río de los Remedios,Gustavo A. Madero,Línea B,15842,19.490807,-99.046518
973242,2023-08-31,31,Agosto,2023,3,False,2,False,San Lázaro,Cuauhtémoc,Línea B,24833,19.432183,-99.113614
973243,2023-08-31,31,Agosto,2023,3,False,2,False,Tepito,Cuauhtémémoc,Línea B,19832,19.443016,-99.124170
973244,2023-08-31,31,Agosto,2023,3,False,2,False,Villa de Aragón,Gustavo A. Madero,Línea B,15716,19.461826,-99.061329

In [39]:
intersections = intersecciones.rename(
    columns={'estacion': 'station', 'linea': 'ints'})

In [40]:
afluencia_df.rename(columns={'fecha': 'date', 'anio': 'year', 'mes': 'month', 'linea': 'line', 'estacion': 'station', 'afluencia': 'influx',
                             'no_habil': 'day_off', 'Dia': 'day', 'Delegacion': 'district', 'Summer_vacations': 'summer_vacations'}, inplace=True)

In [41]:
intersections.head()

             station  ints
0           Acatitla     1
1             Aculco     1
2  Agrícola Oriental     1
3            Allende     1
4           Apatlaco     1

In [42]:
afluencia_df = pd.merge(afluencia_df, intersections, on="station", how="left")
afluencia_df

,date,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints
0,2010-01-01,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1
1,2010-01-01,1,Enero,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1
2,2010-01-01,1,Enero,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1
3,2010-01-01,1,Enero,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2
4,2010-01-01,1,Enero,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,31,Agosto,2023,3,False,2,False,Romero Rubio,Venustiano Carranza,Línea B,14861,19.440864,-99.094576,1
973241,2023-08-31,31,Agosto,2023,3,False,2,False,Río de los Remedios,Gustavo A. Madero,Línea B,15842,19.490807,-99.046518,1
973242,2023-08-31,31,Agosto,2023,3,False,2,False,San Lázaro,Cuauhtémoc,Línea B,24833,19.432183,-99.113614,2
973243,2023-08-31,31,Agosto,2023,3,False,2,False,Tepito,Cuauhtémémoc,Línea B,19832,19.443016,-99.124170,1
973244,2023-08-31,31,Agosto,2023,3,False,2,False,Villa de Aragón,Gustavo A. Madero,Línea B,15716,19.461826,-99.061329,1

In [43]:
afluencia_df.columns

Index(['date', 'day', 'month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'station', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints'],
      dtype='object')

In [44]:
stations_df = afluencia_df[['station', 'district',
                            'line', 'ints', 'influx', 'Lat', 'Long']].copy()
stations_df.head()

,station,district,line,ints,influx,Lat,Long
0,Zaragoza,Venustiano Carranza,Línea 1,1,20227,19.413090,-99.082348
1,Isabel la Católica,Cuauhtémoc,Línea 1,1,6487,19.427258,-99.137948
2,Moctezuma,Venustiano Carranza,Línea 1,1,10304,19.427017,-99.109746
3,Pino Suárez,Cuauhtémoc,Línea 1,2,8679,19.424618,-99.132960
4,Gómez Farías,Venustiano Carranza,Línea 1,1,19499,19.416672,-99.090221

In [45]:
stations_df = stations_df.drop_duplicates(subset=['station'])
stations_df = stations_df.reset_index(drop=True)

In [46]:
stations_df.head()

,station,district,line,ints,influx,Lat,Long
0,Zaragoza,Venustiano Carranza,Línea 1,1,20227,19.413090,-99.082348
1,Isabel la Católica,Cuauhtémoc,Línea 1,1,6487,19.427258,-99.137948
2,Moctezuma,Venustiano Carranza,Línea 1,1,10304,19.427017,-99.109746
3,Pino Suárez,Cuauhtémoc,Línea 1,2,8679,19.424618,-99.132960
4,Gómez Farías,Venustiano Carranza,Línea 1,1,19499,19.416672,-99.090221

In [47]:
len(stations_df)

163

In [48]:
stations_df.to_csv("Outputs/stations.csv")

In [49]:
afluencia_df.head(1)

,date,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints
0,2010-01-01,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.41309,-99.082348,1

In [50]:
influx_df = afluencia_df[['date', 'station', 'line', 'influx']].copy()

In [51]:
influx_df.to_csv("Outputs/influx.csv")

In [52]:
afluencia_df.head()

,date,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints
0,2010-01-01,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1
1,2010-01-01,1,Enero,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1
2,2010-01-01,1,Enero,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1
3,2010-01-01,1,Enero,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2
4,2010-01-01,1,Enero,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1

In [53]:
#Delete date column
afluencia_df.columns

Index(['date', 'day', 'month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'station', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints'],
      dtype='object')

In [54]:
model_data=afluencia_df[['day', 'month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'station', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints']].copy()
model_data.head()

,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints
0,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1
1,1,Enero,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1
2,1,Enero,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1
3,1,Enero,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2
4,1,Enero,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1

In [55]:
#Adding months number column
numeros=[1,2,3,4,5,6,7,8,9,10,11,12]
month=['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
meses_dataframe=pd.DataFrame(list(zip(numeros, month)), columns=['num_month', 'month'])
meses_dataframe.head()

   num_month    month
0          1    Enero
1          2  Febrero
2          3    Marzo
3          4    Abril
4          5     Mayo

In [56]:
model_data = pd.merge(model_data,meses_dataframe , on="month", how="left")
model_data.head()

,day,month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints,num_month
0,1,Enero,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1,1
1,1,Enero,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1,1
2,1,Enero,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1,1
3,1,Enero,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2,1
4,1,Enero,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1,1

In [57]:
#Deleting month column
model_data.columns

Index(['day', 'month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'station', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints', 'num_month'],
      dtype='object')

In [58]:
model_data=model_data[['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'station', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints']]
model_data.head()

,day,num_month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints
0,1,1,2010,4,True,4,False,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1
1,1,1,2010,4,True,4,False,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1
2,1,1,2010,4,True,4,False,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1
3,1,1,2010,4,True,4,False,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2
4,1,1,2010,4,True,4,False,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1

In [60]:
#Changing true and false to number (day_off,summer_vacations)
model_data['day_off'] = model_data['day_off'].astype(int)
model_data['summer_vacations'] = model_data['summer_vacations'].astype(int)
model_data.head()

,day,num_month,year,weekday,day_off,season,summer_vacations,station,district,line,influx,Lat,Long,ints
0,1,1,2010,4,1,4,0,Zaragoza,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1
1,1,1,2010,4,1,4,0,Isabel la Católica,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1
2,1,1,2010,4,1,4,0,Moctezuma,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1
3,1,1,2010,4,1,4,0,Pino Suárez,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2
4,1,1,2010,4,1,4,0,Gómez Farías,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1

In [61]:
model_data.columns

Index(['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'station', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints'],
      dtype='object')

In [62]:
model_data=model_data[['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'district', 'line', 'influx', 'Lat',
       'Long', 'ints']]
model_data.head()

,day,num_month,year,weekday,day_off,season,summer_vacations,district,line,influx,Lat,Long,ints
0,1,1,2010,4,1,4,0,Venustiano Carranza,Línea 1,20227,19.413090,-99.082348,1
1,1,1,2010,4,1,4,0,Cuauhtémoc,Línea 1,6487,19.427258,-99.137948,1
2,1,1,2010,4,1,4,0,Venustiano Carranza,Línea 1,10304,19.427017,-99.109746,1
3,1,1,2010,4,1,4,0,Cuauhtémoc,Línea 1,8679,19.424618,-99.132960,2
4,1,1,2010,4,1,4,0,Venustiano Carranza,Línea 1,19499,19.416672,-99.090221,1

In [64]:
#transforming District column
district_dummies=pd.get_dummies(model_data["district"])
district_dummies.head()

,Azcapotzalco,Benito Juárez,Coyoacán,Cuajimalpa,Cuauhtémoc,Cuauhtémémoc,Ecatepec,Gustavo A. Madero,Iztacalco,Iztapalapa,La Paz (Estado de México),Miguel Hidalgo,Nezahualcóyotl,Tláhuac,Venustiano Carranza,Álvaro Obregón
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [65]:
model_data_transformed = pd.concat([model_data, district_dummies], axis=1)
model_data_transformed.head()

,day,num_month,year,weekday,day_off,season,summer_vacations,district,line,influx,...,Ecatepec,Gustavo A. Madero,Iztacalco,Iztapalapa,La Paz (Estado de México),Miguel Hidalgo,Nezahualcóyotl,Tláhuac,Venustiano Carranza,Álvaro Obregón
0,1,1,2010,4,1,4,0,Venustiano Carranza,Línea 1,20227,...,0,0,0,0,0,0,0,0,1,0
1,1,1,2010,4,1,4,0,Cuauhtémoc,Línea 1,6487,...,0,0,0,0,0,0,0,0,0,0
2,1,1,2010,4,1,4,0,Venustiano Carranza,Línea 1,10304,...,0,0,0,0,0,0,0,0,1,0
3,1,1,2010,4,1,4,0,Cuauhtémoc,Línea 1,8679,...,0,0,0,0,0,0,0,0,0,0
4,1,1,2010,4,1,4,0,Venustiano Carranza,Línea 1,19499,...,0,0,0,0,0,0,0,0,1,0

In [66]:
model_data_transformed.columns

Index(['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'district', 'line', 'influx', 'Lat', 'Long', 'ints',
       'Azcapotzalco', 'Benito Juárez', 'Coyoacán', 'Cuajimalpa', 'Cuauhtémoc',
       'Cuauhtémémoc', 'Ecatepec', 'Gustavo A. Madero', 'Iztacalco',
       'Iztapalapa', 'La Paz (Estado de México)', 'Miguel Hidalgo',
       'Nezahualcóyotl', 'Tláhuac', 'Venustiano Carranza', 'Álvaro Obregón'],
      dtype='object')

In [67]:
model_data_transformed=model_data_transformed[['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'line', 'influx', 'Lat', 'Long', 'ints',
       'Azcapotzalco', 'Benito Juárez', 'Coyoacán', 'Cuajimalpa', 'Cuauhtémoc',
       'Cuauhtémémoc', 'Ecatepec', 'Gustavo A. Madero', 'Iztacalco',
       'Iztapalapa', 'La Paz (Estado de México)', 'Miguel Hidalgo',
       'Nezahualcóyotl', 'Tláhuac', 'Venustiano Carranza', 'Álvaro Obregón']]
model_data_transformed.head()

,day,num_month,year,weekday,day_off,season,summer_vacations,line,influx,Lat,...,Ecatepec,Gustavo A. Madero,Iztacalco,Iztapalapa,La Paz (Estado de México),Miguel Hidalgo,Nezahualcóyotl,Tláhuac,Venustiano Carranza,Álvaro Obregón
0,1,1,2010,4,1,4,0,Línea 1,20227,19.413090,...,0,0,0,0,0,0,0,0,1,0
1,1,1,2010,4,1,4,0,Línea 1,6487,19.427258,...,0,0,0,0,0,0,0,0,0,0
2,1,1,2010,4,1,4,0,Línea 1,10304,19.427017,...,0,0,0,0,0,0,0,0,1,0
3,1,1,2010,4,1,4,0,Línea 1,8679,19.424618,...,0,0,0,0,0,0,0,0,0,0
4,1,1,2010,4,1,4,0,Línea 1,19499,19.416672,...,0,0,0,0,0,0,0,0,1,0

In [69]:
model_data_transformed['line'].unique()

array(['Línea 1', 'Línea 6', 'Línea 9', 'Línea 8', 'Línea 5', 'Línea 7',
       'Línea 3', 'Línea 4', 'Línea 2', 'Línea B', 'Línea 12', 'Línea A'],
      dtype=object)

In [70]:
#Adding lineas 
numeros=[1,2,3,4,5,6,7,8,9,10,11,12]
lineas_names=['Línea 1', 'Línea 2', 'Línea 3', 'Línea 4', 'Línea 5', 'Línea 6',
       'Línea 7', 'Línea 8', 'Línea 9', 'Línea A', 'Línea B', 'Línea 12']
line_dataframe=pd.DataFrame(list(zip(numeros, lineas_names)), columns=['num_line', 'line'])
line_dataframe.head()

   num_line     line
0         1  Línea 1
1         2  Línea 2
2         3  Línea 3
3         4  Línea 4
4         5  Línea 5

In [71]:
model_data_transformed = pd.merge(model_data_transformed,line_dataframe , on="line", how="left")
model_data_transformed.columns

Index(['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'line', 'influx', 'Lat', 'Long', 'ints',
       'Azcapotzalco', 'Benito Juárez', 'Coyoacán', 'Cuajimalpa', 'Cuauhtémoc',
       'Cuauhtémémoc', 'Ecatepec', 'Gustavo A. Madero', 'Iztacalco',
       'Iztapalapa', 'La Paz (Estado de México)', 'Miguel Hidalgo',
       'Nezahualcóyotl', 'Tláhuac', 'Venustiano Carranza', 'Álvaro Obregón',
       'num_line'],
      dtype='object')

In [72]:
model_data_transformed=model_data_transformed[['day', 'num_month', 'year', 'weekday', 'day_off', 'season',
       'summer_vacations', 'num_line', 'influx', 'Lat', 'Long', 'ints',
       'Azcapotzalco', 'Benito Juárez', 'Coyoacán', 'Cuajimalpa', 'Cuauhtémoc',
       'Cuauhtémémoc', 'Ecatepec', 'Gustavo A. Madero', 'Iztacalco',
       'Iztapalapa', 'La Paz (Estado de México)', 'Miguel Hidalgo',
       'Nezahualcóyotl', 'Tláhuac', 'Venustiano Carranza', 'Álvaro Obregón']]
model_data_transformed.head()

,day,num_month,year,weekday,day_off,season,summer_vacations,num_line,influx,Lat,...,Ecatepec,Gustavo A. Madero,Iztacalco,Iztapalapa,La Paz (Estado de México),Miguel Hidalgo,Nezahualcóyotl,Tláhuac,Venustiano Carranza,Álvaro Obregón
0,1,1,2010,4,1,4,0,1,20227,19.413090,...,0,0,0,0,0,0,0,0,1,0
1,1,1,2010,4,1,4,0,1,6487,19.427258,...,0,0,0,0,0,0,0,0,0,0
2,1,1,2010,4,1,4,0,1,10304,19.427017,...,0,0,0,0,0,0,0,0,1,0
3,1,1,2010,4,1,4,0,1,8679,19.424618,...,0,0,0,0,0,0,0,0,0,0
4,1,1,2010,4,1,4,0,1,19499,19.416672,...,0,0,0,0,0,0,0,0,1,0

In [73]:
model_data_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 973245 entries, 0 to 973244
Data columns (total 28 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   day                        973245 non-null  int64
 1   num_month                  973245 non-null  int64
 2   year                       973245 non-null  int64
 3   weekday                    973245 non-null  int64
 4   day_off                    973245 non-null  int32
 5   season                     973245 non-null  int64
 6   summer_vacations           973245 non-null  int32
 7   num_line                   973245 non-null  int64
 8   influx                     973245 non-null  int64
 9   Lat                        973245 non-null  float64
 10  Long                       973245 non-null  float64
 11  ints                       973245 non-null  int64
 12  Azcapotzalco               973245 non-null  uint8
 13  Benito Juárez              973245 non-null  uint8
 14  Coyoacán                   973245 non-null  uint8
 15  Cuajimalpa                 973245 non-null  uint8
 16  Cuauhtémoc                 973245 non-null  uint8
 17  Cuauhtémémoc               973245 non-null  uint8
 18  Ecatepec                   973245 non-null  uint8
 19  Gustavo A. Madero          973245 non-null  uint8
 20  Iztacalco                  973245 non-null  uint8
 21  Iztapalapa                 973245 non-null  uint8
 22  La Paz (Estado de México)  973245 non-null  uint8
 23  Miguel Hidalgo             973245 non-null  uint8
 24  Nezahualcóyotl             973245 non-null  uint8
 25  Tláhuac                    973245 non-null  uint8
 26  Venustiano Carranza        973245 non-null  uint8
 27  Álvaro Obregón             973245 non-null  uint8
dtypes: float64(2), int32(2), int64(8), uint8(16)
memory usage: 104.0 MB