In [1]:
# reading csv file
import pandas as pd
from pathlib import Path
import datetime
data_file = Path("Resources/afluenciastc_simple_08_2023.csv")
# Use Pandas to the read data.
afluencia_df = pd.read_csv(data_file)
afluencia_df.head()

        fecha  anio    mes    linea            estacion  afluencia
0  2010-01-01  2010  Enero  Línea 1            Zaragoza      20227
1  2010-01-01  2010  Enero  Línea 1  Isabel la Católica       6487
2  2010-01-01  2010  Enero  Línea 1           Moctezuma      10304
3  2010-01-01  2010  Enero  Línea 1         Pino Suárez       8679
4  2010-01-01  2010  Enero  Línea 1        Gómez Farías      19499

In [2]:
# transforming to datetime
afluencia_df['fecha'] = pd.to_datetime(afluencia_df['fecha'], format='%Y-%m-%d')

print(afluencia_df.dtypes)

fecha        datetime64[ns]
anio                  int64
mes                  object
linea                object
estacion             object
afluencia             int64
dtype: object

In [3]:
fechas = afluencia_df["fecha"]
fechas

0        2010-01-01
1        2010-01-01
2        2010-01-01
3        2010-01-01
4        2010-01-01
            ...
973240   2023-08-31
973241   2023-08-31
973242   2023-08-31
973243   2023-08-31
973244   2023-08-31
Name: fecha, Length: 973245, dtype: datetime64[ns]

In [4]:
afluencia_df["weekday"] = afluencia_df["fecha"].dt.day_of_week
afluencia_df.head(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4
5,2010-01-01,2010,Enero,Línea 6,Deportivo 18 de Marzo,621,4
6,2010-01-01,2010,Enero,Línea 6,La Villa/Basílica,24792,4
7,2010-01-01,2010,Enero,Línea 9,Pantitlán,27000,4
8,2010-01-01,2010,Enero,Línea 8,Aculco,3652,4
9,2010-01-01,2010,Enero,Línea 9,Velódromo,3239,4
10,2010-01-01,2010,Enero,Línea 5,Autobuses del Norte,16824,4
11,2010-01-01,2010,Enero,Línea 5,Misterios,3513,4
12,2010-01-01,2010,Enero,Línea 7,Constituyentes,1417,4
13,2010-01-01,2010,Enero,Línea 7,Refinería,2325,4
14,2010-01-01,2010,Enero,Línea 3,Etiopía/Plaza de la Transparencia,7078,4
15,2010-01-01,2010,Enero,Línea 7,Polanco,6173,4
16,2010-01-01,2010,Enero,Línea 4,Canal del Norte,2317,4
17,2010-01-01,2010,Enero,Línea 4,Bondojito,2474,4
18,2010-01-01,2010,Enero,Línea 4,Santa Anita,1042,4
19,2010-01-01,2010,Enero,Línea 2,Popotla,2419,4

In [5]:
no_habiles_df = Path("Resources/dias_no_habiles.csv")
# Use Pandas to the read data.
no_habiles_df = pd.read_csv(no_habiles_df)
no_habiles_df.head(15)

,enero 1,febreo 4,marzo 21,jueves santo,viernes sannto,mayo 1,septiembre 16,octubre 12,noviembre 2,20 de noviembre,diciembre 12,navidad
0,2009-01-01,2009-02-02,2009-03-16,2009-04-09,2009-04-10,2009-05-01,2009-09-16,2009-10-12,2009-11-02,2009-11-20,2009-12-12,2009-12-25
1,2010-01-01,2010-02-01,2010-03-15,2010-04-01,2010-04-02,2010-05-01,2010-09-16,2010-10-12,2010-11-02,2010-11-20,2010-12-12,2010-12-25
2,2011-01-01,2011-02-07,2011-03-21,2011-04-21,2011-04-22,2011-05-01,2011-09-16,2011-10-12,2011-11-02,2011-11-20,2011-12-12,2011-12-25
3,2012-01-01,2012-02-06,2012-03-19,2012-04-05,2012-04-06,2012-05-01,2012-09-16,2012-10-12,2012-11-02,2012-11-20,2012-12-12,2012-12-25
4,2013-01-01,2013-02-04,2013-03-18,2013-03-28,2013-03-29,2013-05-01,2013-09-16,2013-10-12,2013-11-02,2013-11-20,2013-12-12,2013-12-25
5,2014-01-01,2014-02-03,2014-03-17,2014-04-17,2014-04-18,2014-05-01,2014-09-16,2014-10-12,2014-11-02,2014-11-20,2014-12-12,2014-12-25
6,2015-01-01,2015-02-02,2015-03-16,2015-04-02,2015-04-03,2015-05-01,2015-09-16,2015-10-12,2015-11-02,2015-11-20,2015-12-12,2015-12-25
7,2016-01-01,2016-02-01,2016-03-21,2016-03-24,2016-03-25,2016-05-01,2016-09-16,2016-10-12,2016-11-02,2016-11-20,2016-12-12,2016-12-25
8,2017-01-01,2017-02-06,2017-03-20,2017-04-13,2017-04-14,2017-05-01,2017-09-16,2017-10-12,2017-11-02,2017-11-20,2017-12-12,2017-12-25
9,2018-01-01,2018-02-05,2018-03-19,2018-03-29,2018-03-30,2018-05-01,2018-09-16,2018-10-12,2018-11-02,2018-11-20,2018-12-12,2018-12-25
10,2019-01-01,2019-02-04,2019-03-18,2019-04-18,2019-04-19,2019-05-01,2019-09-16,2019-10-12,2019-11-02,2019-11-20,2019-12-12,2019-12-25
11,2020-01-01,2020-02-03,2020-03-16,2020-04-09,2020-04-10,2020-05-01,2020-09-16,2020-10-12,2020-11-02,2020-11-20,2020-12-12,2020-12-25
12,2021-01-01,2021-02-01,2021-03-15,2021-04-01,2021-04-02,2021-05-01,2021-09-16,2021-10-12,2021-11-02,2021-11-20,2021-12-12,2021-12-25
13,2022-01-01,2022-02-07,2022-03-21,2022-04-14,2022-04-15,2022-05-01,2022-09-16,2022-10-12,2022-11-02,2022-11-20,2022-12-12,2022-12-25
14,2023-01-01,2023-02-06,2023-03-20,2023-04-06,2023-04-07,2023-05-01,2023-09-16,2023-10-12,2023-11-02,2023-11-20,2023-12-12,2023-12-25

In [6]:
no_habiles_df = no_habiles_df.apply(pd.to_datetime)

In [7]:
no_habiles_df = no_habiles_df.stack().reset_index(drop=True)
no_habiles_df.head()

0   2009-01-01
1   2009-02-02
2   2009-03-16
3   2009-04-09
4   2009-04-10
dtype: datetime64[ns]

In [8]:
no_habiles_df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 180 entries, 0 to 179
Series name: None
Non-Null Count  Dtype
--------------  -----
180 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 1.5 KB

In [9]:
afluencia_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973245 entries, 0 to 973244
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   fecha      973245 non-null  datetime64[ns]
 1   anio       973245 non-null  int64
 2   mes        973245 non-null  object
 3   linea      973245 non-null  object
 4   estacion   973245 non-null  object
 5   afluencia  973245 non-null  int64
 6   weekday    973245 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 52.0+ MB

In [10]:
afluencia_df['no_habil'] = afluencia_df['fecha'].isin(no_habiles_df)

In [11]:
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil
512996,2017-03-15,2017,Marzo,Línea A,La Paz,45692,2,False
219643,2013-01-31,2013,Enero,Línea 5,Valle Gómez,5022,3,False
397908,2015-08-03,2015,Agosto,Línea 3,Zapata,30834,0,False
298296,2014-03-10,2014,Marzo,Línea B,Buenavista,56973,0,False
290144,2014-01-27,2014,Enero,Línea A,Pantitlán,94855,0,False
758696,2020-08-26,2020,Agosto,Línea 2,Villa de Cortés,9537,2,False
782088,2020-12-24,2020,Diciembre,Línea 9,Chabacano,3878,3,False
279279,2013-12-03,2013,Diciembre,Línea 9,Chilpancingo,60578,1,False
726321,2020-03-13,2020,Marzo,Línea 3,Potrero,24845,4,False
209478,2012-12-10,2012,Diciembre,Línea 9,Tacubaya,50110,0,False
154262,2012-03-02,2012,Marzo,Línea 6,Martín Carrera,40176,4,False
688543,2019-09-01,2019,Septiembre,Línea 12,Eje Central,13880,6,False
533063,2017-06-26,2017,Junio,Línea 2,Villa de Cortés,16929,0,False
652848,2019-03-02,2019,Marzo,Línea B,San Lázaro,7757,5,False
292871,2014-02-10,2014,Febrero,Línea B,Tepito,23399,0,False
686297,2019-08-21,2019,Agosto,Línea 4,Canal del Norte,10500,2,False
378177,2015-04-24,2015,Abril,Línea 3,Balderas,10720,4,False
141215,2011-12-26,2011,Diciembre,Línea B,Guerrero,6322,0,False
255529,2013-08-03,2013,Agosto,Línea 7,Refinería,8361,5,False
77256,2011-02-01,2011,Febrero,Línea 12,Tlaltenco,0,1,False

In [12]:
#Seasons Column
def obtener_estacion(fecha):
    if (fecha.month >= 3 and fecha.month <= 5):
        return 'Spring'
    elif (fecha.month >= 6 and fecha.month <= 8):
        return 'Summer'
    elif (fecha.month >= 9 and fecha.month <= 11):
        return 'Autumn'
    else:
        return 'Winter'

afluencia_df['season'] = afluencia_df['fecha'].apply(obtener_estacion)

afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season
127934,2011-10-19,2011,Octubre,Línea 4,Consulado,5562,2,False,Autumn
205355,2012-11-19,2012,Noviembre,Línea 2,Popotla,6449,0,False,Autumn
476114,2016-09-07,2016,Septiembre,Línea 1,Pantitlán,51748,2,False,Autumn
337252,2014-09-26,2014,Septiembre,Línea 3,Centro Médico,25546,4,False,Autumn
804094,2021-04-16,2021,Abril,Línea 6,El Rosario,8156,4,False,Spring
391620,2015-07-02,2015,Julio,Línea 3,Hidalgo,16012,3,False,Summer
714954,2020-01-15,2020,Enero,Línea 2,Zócalo/Tenochtitlan,62265,2,False,Winter
156836,2012-03-15,2012,Marzo,Línea 9,Chabacano,13998,3,False,Spring
893201,2022-07-17,2022,Julio,Línea 5,La Raza,5031,6,False,Summer
163213,2012-04-16,2012,Abril,Línea 9,Jamaica,15201,0,False,Spring
406970,2015-09-19,2015,Septiembre,Línea 9,Velódromo,10778,5,False,Autumn
671797,2019-06-08,2019,Junio,Línea 4,Bondojito,6901,5,False,Summer
839069,2021-10-12,2021,Octubre,Línea B,Garibaldi/Lagunilla,3573,1,True,Autumn
871830,2022-03-29,2022,Marzo,Línea B,Guerrero,4471,1,False,Spring
176574,2012-06-24,2012,Junio,Línea 5,Terminal Aérea,8766,6,False,Summer
289974,2014-01-27,2014,Enero,Línea 7,Tacubaya,5851,0,False,Winter
512937,2017-03-15,2017,Marzo,Línea 7,Polanco,38414,2,False,Spring
942910,2023-03-29,2023,Marzo,Línea 4,Bondojito,5698,2,False,Spring
162358,2012-04-12,2012,Abril,Línea 2,San Antonio Abad,35987,3,False,Spring
580651,2018-02-25,2018,Febrero,Línea 3,Tlatelolco,13742,6,False,Winter

In [13]:
# Summer vacations
def Summer_vacations(fecha):
    spring_2019 = (fecha >= pd.Timestamp('2019-06-24')) and (fecha <= pd.Timestamp('2019-08-26'))
    spring_2020 = (fecha >= pd.Timestamp('2020-07-06')) and (fecha <= pd.Timestamp('2020-08-24'))
    spring_2021 = (fecha >= pd.Timestamp('2021-07-09')) and (fecha <= pd.Timestamp('2021-08-30'))
    spring_2022 = (fecha >= pd.Timestamp('2022-07-28')) and (fecha <= pd.Timestamp('2022-08-29'))

    return spring_2019 or spring_2020 or spring_2021 or spring_2022

afluencia_df['Summer_vacations'] = afluencia_df['fecha'].apply(Summer_vacations)
afluencia_df.sample(20)

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season,Summer_vacations
763497,2020-09-20,2020,Septiembre,Línea 2,Pino Suárez,7073,6,False,Autumn,False
795404,2021-03-02,2021,Marzo,Línea B,Villa de Aragón,7228,1,False,Spring,False
741351,2020-05-29,2020,Mayo,Línea 1,Merced,21502,4,False,Spring,False
281852,2013-12-16,2013,Diciembre,Línea 3,Hospital General,22743,0,False,Winter,False
857746,2022-01-16,2022,Enero,Línea 8,Bellas Artes,13818,6,False,Winter,False
469547,2016-08-04,2016,Agosto,Línea 9,Patriotismo,21770,3,False,Summer,False
804286,2021-04-17,2021,Abril,Línea 5,Terminal Aérea,11591,5,False,Spring,False
502862,2017-01-22,2017,Enero,Línea A,Guelatao,13677,6,False,Winter,False
736389,2020-05-04,2020,Mayo,Línea 2,Hidalgo,7086,0,False,Spring,False
880287,2022-05-12,2022,Mayo,Línea 2,San Cosme,20559,3,False,Spring,False
479778,2016-09-26,2016,Septiembre,Línea 1,Tacubaya,36972,0,False,Autumn,False
78848,2011-02-09,2011,Febrero,Línea 7,Tacubaya,8191,2,False,Winter,False
609681,2018-07-24,2018,Julio,Línea 3,Centro Médico,24458,1,False,Summer,False
15327,2010-03-20,2010,Marzo,Línea 4,Canal del Norte,10124,5,False,Spring,False
418707,2015-11-18,2015,Noviembre,Línea 9,Chilpancingo,62011,2,False,Autumn,False
370432,2015-03-15,2015,Marzo,Línea 4,Canal del Norte,5357,6,False,Spring,False
510968,2017-03-05,2017,Marzo,Línea 1,Gómez Farías,15724,6,False,Spring,False
943317,2023-03-31,2023,Marzo,Línea 5,Misterios,7809,4,False,Spring,False
204439,2012-11-14,2012,Noviembre,Línea 4,Candelaria,6906,2,False,Autumn,False
130411,2011-10-31,2011,Octubre,Línea B,Buenavista,61309,0,False,Autumn,False

In [14]:
estaciones=afluencia_df["estacion"].unique()
len(estaciones)

163

In [15]:
#separating date
afluencia_df["Dia"]=afluencia_df["fecha"].dt.day
afluencia_df

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season,Summer_vacations,Dia
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4,True,Winter,False,1
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4,True,Winter,False,1
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4,True,Winter,False,1
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4,True,Winter,False,1
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4,True,Winter,False,1
...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,2023,Agosto,Línea B,Romero Rubio,14861,3,False,Summer,False,31
973241,2023-08-31,2023,Agosto,Línea B,Río de los Remedios,15842,3,False,Summer,False,31
973242,2023-08-31,2023,Agosto,Línea B,San Lázaro,24833,3,False,Summer,False,31
973243,2023-08-31,2023,Agosto,Línea B,Tepito,19832,3,False,Summer,False,31
973244,2023-08-31,2023,Agosto,Línea B,Villa de Aragón,15716,3,False,Summer,False,31

In [16]:
#Unique estaciones
estaciones

array(['Zaragoza', 'Isabel la Católica', 'Moctezuma', 'Pino Suárez',
       'Gómez Farías', 'Deportivo 18 de Marzo', 'La Villa/Basílica',
       'Pantitlán', 'Aculco', 'Velódromo', 'Autobuses del Norte',
       'Misterios', 'Constituyentes', 'Refinería',
       'Etiopía/Plaza de la Transparencia', 'Polanco', 'Canal del Norte',
       'Bondojito', 'Santa Anita', 'Popotla', 'General Anaya',
       'División del Norte', 'Zapata', 'Fray Servando', 'Hangares',
       'El Rosario', 'Ferrería/Arena Ciudad de México',
       'Instituto del Petróleo', 'Coyuya', 'Apatlaco', 'La Viga',
       'Chabacano', 'San Juan de Letrán', 'Barranca del Muerto',
       'Garibaldi/Lagunilla', 'Buenavista', 'Guerrero', 'Oceanía',
       'Nezahualcóyotl', 'Revolución', 'Indios Verdes', 'Hidalgo',
       'Colegio Militar', 'Normal', 'San Cosme', 'Juárez', 'Olímpica',
       'Ciudad Azteca', 'Tlaltenco', 'Insurgentes Sur', 'Culhuacán',
       'Calle 11', 'Chilpancingo', 'Peñón Viejo', 'Canal de San Juan',
       'Lomas Estrella', 'San Andrés Tomatlán', 'Ermita', 'Xola',
       'Salto del Agua', 'Balderas', 'Portales', 'Eduardo Molina',
       'Candelaria', 'Aragón', 'Tacubaya', 'San Pedro de los Pinos',
       'Camarones', 'Doctores', 'San Antonio', 'Mixcoac', 'Tacuba',
       'Martín Carrera', 'Auditorio', 'Aquiles Serdán', 'San Joaquín',
       'Morelos', 'San Antonio Abad', 'Viaducto', 'Norte 45', 'Vallejo',
       'Tezozómoc', 'UAM-Azcapotzalco', 'Bellas Artes', 'Cuitláhuac',
       'Terminal Aérea', 'Eugenia', 'Observatorio', 'Cuatro Caminos',
       'Panteones', 'Copilco', 'Centro Médico', 'Universidad',
       'Lindavista', 'Coyoacán', 'Jamaica', 'La Raza',
       'Viveros/Derechos Humanos', 'Miguel Ángel de Quevedo',
       'Chapultepec', 'Obrera', 'Allende', 'Zócalo/Tenochtitlan',
       'Nativitas', 'Boulevard Puerto Aéreo', 'Sevilla',
       'Villa de Cortés', 'Consulado', 'Talismán', 'Valle Gómez',
       'Politécnico', 'Niños Héroes', 'Hospital General', 'Tasqueña',
       'Potrero', 'Tlatelolco', 'Balbuena', 'Tepito', 'Merced',
       'Insurgentes', 'Juanacatlán', 'Plaza Aragón', 'Guelatao',
       'Lagunilla', 'La Paz', 'Iztapalapa', 'Patriotismo',
       'Cerro de la Estrella', 'Zapotitlán', 'Nopalera', 'Olivos',
       'Río de los Remedios', 'Múzquiz', 'Atlalilco', 'Tezonco',
       'Impulsora', 'Escuadrón 201', 'Periférico Oriente', 'Iztacalco',
       'Tláhuac', 'UAM-I', 'Ecatepec', 'Acatitla',
       'Hospital 20 de Noviembre', 'Eje Central', 'Parque de los Venados',
       'San Lázaro', 'Romero Rubio', 'Villa de Aragón', 'Tepalcates',
       'Agrícola Oriental', 'Deportivo Oceanía', 'Puebla',
       'Ciudad Deportiva', 'Mixiuhca', 'Bosque de Aragón', 'Santa Marta',
       'Los Reyes', 'Constitución de 1917', 'Cuauhtémoc', 'Mexicaltzingo',
       'Ricardo Flores Magón', 'Lázaro Cárdenas'], dtype=object)

In [17]:
esta_list=['Zaragoza', 'Isabel la Católica', 'Moctezuma', 'Pino Suárez', 'Gómez Farías', 'Deportivo 18 de Marzo', 'La Villa/Basílica', 'Pantitlán', 'Aculco', 'Velódromo', 'Autobuses del Norte', 'Misterios', 'Constituyentes', 'Refinería', 'Etiopía/Plaza de la Transparencia', 'Polanco', 'Canal del Norte', 'Bondojito', 'Santa Anita', 'Popotla', 'General Anaya', 'División del Norte', 'Zapata', 'Fray Servando', 'Hangares', 'El Rosario', 'Ferrería/Arena Ciudad de México', 'Instituto del Petróleo', 'Coyuya', 'Apatlaco', 'La Viga', 'Chabacano', 'San Juan de Letrán', 'Barranca del Muerto', 'Garibaldi/Lagunilla', 'Buenavista', 'Guerrero', 'Oceanía', 'Nezahualcóyotl', 'Revolución', 'Indios Verdes', 'Hidalgo', 'Colegio Militar', 'Normal', 'San Cosme', 'Juárez', 'Olímpica', 'Ciudad Azteca', 'Tlaltenco', 'Insurgentes Sur', 'Culhuacán', 'Calle 11', 'Chilpancingo', 'Peñón Viejo', 'Canal de San Juan', 'Lomas Estrella', 'San Andrés Tomatlán', 'Ermita', 'Xola', 'Salto del Agua', 'Balderas', 'Portales', 'Eduardo Molina', 'Candelaria', 'Aragón', 'Tacubaya', 'San Pedro de los Pinos', 'Camarones', 'Doctores', 'San Antonio', 'Mixcoac', 'Tacuba', 'Martín Carrera', 'Auditorio', 'Aquiles Serdán', 'San Joaquín', 'Morelos', 'San Antonio Abad', 'Viaducto', 'Norte 45', 'Vallejo', 'Tezozómoc', 'UAM-Azcapotzalco', 'Bellas Artes', 'Cuitláhuac', 'Terminal Aérea', 'Eugenia', 'Observatorio', 'Cuatro Caminos', 'Panteones', 'Copilco', 'Centro Médico', 'Universidad', 'Lindavista', 'Coyoacán', 'Jamaica', 'La Raza', 'Viveros/Derechos Humanos', 'Miguel Ángel de Quevedo', 'Chapultepec', 'Obrera', 'Allende', 'Zócalo/Tenochtitlan', 'Nativitas', 'Boulevard Puerto Aéreo', 'Sevilla', 'Villa de Cortés', 'Consulado', 'Talismán', 'Valle Gómez', 'Politécnico', 'Niños Héroes', 'Hospital General', 'Tasqueña', 'Potrero', 'Tlatelolco', 'Balbuena', 'Tepito', 'Merced', 'Insurgentes', 'Juanacatlán', 'Plaza Aragón', 'Guelatao', 'Lagunilla', 'La Paz', 'Iztapalapa', 'Patriotismo', 'Cerro de la Estrella', 'Zapotitlán', 'Nopalera', 'Olivos', 'Río de los Remedios', 'Múzquiz', 'Atlalilco', 'Tezonco', 'Impulsora', 'Escuadrón 201', 'Periférico Oriente', 'Iztacalco', 'Tláhuac', 'UAM-I', 'Ecatepec', 'Acatitla', 'Hospital 20 de Noviembre', 'Eje Central', 'Parque de los Venados', 'San Lázaro', 'Romero Rubio', 'Villa de Aragón', 'Tepalcates', 'Agrícola Oriental', 'Deportivo Oceanía', 'Puebla', 'Ciudad Deportiva', 'Mixiuhca', 'Bosque de Aragón', 'Santa Marta', 'Los Reyes', 'Constitución de 1917', 'Cuauhtémoc', 'Mexicaltzingo', 'Ricardo Flores Magón', 'Lázaro Cárdenas']
esta_dele=['Venustiano Carranza',
'Cuauhtémoc',
'Venustiano Carranza',
'Cuauhtémoc',
'Venustiano Carranza',
'Gustavo A. Madero',
'Gustavo A. Madero',
'Iztacalco',
'Iztapalapa',
'Iztacalco',
'Gustavo A. Madero',
'Cuauhtémoc',
'Miguel Hidalgo',
'Azcapotzalco',
'Benito Juárez',
'Miguel Hidalgo',
'Cuauhtémoc',
'Gustavo A. Madero',
 'Iztacalco',
 'Miguel Hidalgo',
'Benito Juárez',
 'Benito Juárez',
'Benito Juárez',
 'Venustiano Carranza',
'Venustiano Carranza',
'Azcapotzalco',
 'Azcapotzalco',
'Gustavo A. Madero',
 'Iztacalco',
 'Iztacalco',
'Iztacalco',
'Cuauhtémoc',
 'Cuauhtémoc',
'Álvaro Obregón',
 'Cuauhtémoc',
 'Cuauhtémoc',
'Cuauhtémoc',
 'Venustiano Carranza',
'Venustiano Carranza',
'Benito Juárez',
'Gustavo A. Madero',
'Cuauhtémoc',
'Miguel Hidalgo',
'Cuauhtémoc',
'Cuauhtémoc',
 'Cuauhtémoc',
'Benito Juárez',
'Ecatepec',
 'Tláhuac',
 'Benito Juárez',
 'Iztapalapa',
'Iztapalapa',
'Benito Juárez',
 'Tláhuac',
 'Iztacalco',
 'Iztapalapa',
'Iztapalapa',
 'Iztapalapa',
 'Benito Juárez',
'Cuauhtémoc',
'Cuauhtémoc',
'Benito Juárez',
'Gustavo A. Madero',
'Venustiano Carranza',
 'Gustavo A. Madero',
 'Miguel Hidalgo',
 'Álvaro Obregón',
'Azcapotzalco',
 'Cuauhtémoc',
 'Tláhuac',
'Álvaro Obregón',
 'Miguel Hidalgo',
'Gustavo A. Madero',
'Miguel Hidalgo',
 'Azcapotzalco',
'Miguel Hidalgo',
 'Venustiano Carranza',
 'Cuauhtémoc',
 'Benito Juárez',
'Gustavo A. Madero',
'Gustavo A. Madero',
 'Azcapotzalco',
'Azcapotzalco',
 'Cuauhtémoc',
 'Azcapotzalco',
 'Venustiano Carranza',
 'Benito Juárez',
 'Miguel Hidalgo',
'Miguel Hidalgo',
 'Azcapotzalco',
 'Coyoacán',
 'Cuauhtémoc',
 'Coyoacán',
'Gustavo A. Madero',
 'Coyoacán',
 'Venustiano Carranza',
 'Gustavo A. Madero',
 'Coyoacán',
 'Coyoacán',
'Miguel Hidalgo',
 'Cuauhtémoc',
 'Cuauhtémoc',
'Cuauhtémoc',
 'Benito Juárez',
'Venustiano Carranza',
 'Benito Juárez',
 'Benito Juárez',
 'Venustiano Carranza',
'Gustavo A. Madero',
 'Venustiano Carranza',
 'Gustavo A. Madero',
 'Benito Juárez',
'Cuauhtémoc',
 'Coyoacán',
 'Gustavo A. Madero',
 'Cuauhtémoc',
 'Venustiano Carranza',
 'Cuauhtémémoc',
 'Cuauhtémoc',
 'Cuauhtémoc',
 'Cuajimalpa',
 'Ecatepec',
'Iztapalapa',
 'Cuauhtémoc',
 'La Paz (Estado de México)',
 'Iztapalapa',
'Benito Juárez',
'Iztapalapa',
'Tláhuac',
'Tláhuac',
 'Tláhuac',
 'Gustavo A. Madero',
 'Gustavo A. Madero',
 'Iztapalapa',
'Iztapalapa',
'Nezahualcóyotl',
'Nezahualcóyotl',
 'Nezahualcóyotl',
 'Iztacalco',
'Tláhuac',
 'Iztapalapa',
 'Ecatepec',
'Iztapalapa',
 'Álvaro Obregón',
 'Cuauhtémoc',
 'Benito Juárez',
'Cuauhtémoc',
'Venustiano Carranza',
 'Gustavo A. Madero',
'Venustiano Carranza',
 'Iztacalco',
'Venustiano Carranza',
'Venustiano Carranza',
'Iztacalco',
 'Venustiano Carranza',
 'Nezahualcóyotl',
'Iztapalapa',
'La Paz (Estado de México)',
 'Tláhuac',
'Cuauhtémoc',
'Iztapalapa',
 'Cuauhtémoc',
 'Cuauhtémoc']
len(esta_list)
esta_del_df=pd.DataFrame({"estacion":esta_list,"Delegacion":esta_dele})
esta_del_df

                 estacion           Delegacion
0                Zaragoza  Venustiano Carranza
1      Isabel la Católica           Cuauhtémoc
2               Moctezuma  Venustiano Carranza
3             Pino Suárez           Cuauhtémoc
4            Gómez Farías  Venustiano Carranza
..                    ...                  ...
158  Constitución de 1917              Tláhuac
159            Cuauhtémoc           Cuauhtémoc
160         Mexicaltzingo           Iztapalapa
161  Ricardo Flores Magón           Cuauhtémoc
162       Lázaro Cárdenas           Cuauhtémoc

[163 rows x 2 columns]

In [18]:
afluencia_df_2 = pd.merge(afluencia_df, esta_del_df, on="estacion", how="left")
afluencia_df_2

,fecha,anio,mes,linea,estacion,afluencia,weekday,no_habil,season,Summer_vacations,Dia,Delegacion
0,2010-01-01,2010,Enero,Línea 1,Zaragoza,20227,4,True,Winter,False,1,Venustiano Carranza
1,2010-01-01,2010,Enero,Línea 1,Isabel la Católica,6487,4,True,Winter,False,1,Cuauhtémoc
2,2010-01-01,2010,Enero,Línea 1,Moctezuma,10304,4,True,Winter,False,1,Venustiano Carranza
3,2010-01-01,2010,Enero,Línea 1,Pino Suárez,8679,4,True,Winter,False,1,Cuauhtémoc
4,2010-01-01,2010,Enero,Línea 1,Gómez Farías,19499,4,True,Winter,False,1,Venustiano Carranza
...,...,...,...,...,...,...,...,...,...,...,...,...
973240,2023-08-31,2023,Agosto,Línea B,Romero Rubio,14861,3,False,Summer,False,31,Venustiano Carranza
973241,2023-08-31,2023,Agosto,Línea B,Río de los Remedios,15842,3,False,Summer,False,31,Gustavo A. Madero
973242,2023-08-31,2023,Agosto,Línea B,San Lázaro,24833,3,False,Summer,False,31,Cuauhtémoc
973243,2023-08-31,2023,Agosto,Línea B,Tepito,19832,3,False,Summer,False,31,Cuauhtémémoc
973244,2023-08-31,2023,Agosto,Línea B,Villa de Aragón,15716,3,False,Summer,False,31,Gustavo A. Madero

In [19]:
len(afluencia_df_2["estacion"].unique())

163